@model FootballPitchesBooking.Models.RecommendationModels.RecommendationModel
@{
    ViewBag.Title = "ListRivals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gợi ý kèo</h2>
<div class="row">
    <div class="span12">
        @if (Model.Rivals != null)
        {
            if (Model.Rivals.Count > 0)
            {
            <div class="row no-margin">
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 150px;">TÊN SÂN BÓNG</th>
                            <th>ĐỊA CHỈ</th>
                            <th>NGÀY ĐÁ</th>
                            <th>GIỜ BẮT ĐẦU</th>
                            <th>THỜI LƯỢNG</th>
                            <th style="width: 150px;">TÊN CHỦ KÈO</th>
                            <th style="width: 110px;">SĐT CHỦ KÈO</th>
                            <th style="width: 70px;"></th>
                        </tr>
                        <tr>
                            <th style="width: 150px;">TÊN SÂN BÓNG</th>
                            <th>ĐỊA CHỈ</th>
                            <th>NGÀY ĐÁ</th>
                            <th>GIỜ BẮT ĐẦU</th>
                            <th>THỜI LƯỢNG</th>
                            <th style="width: 150px;">TÊN CHỦ KÈO</th>
                            <th style="width: 110px;">SĐT CHỦ KÈO</th>
                            <th style="width: 70px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Rivals.Count; i++)
                        {
                            string startH = ((int)Model.Rivals[i].Reservation.StartTime).ToString();
                            startH = (startH.Length == 2) ? startH : "0" + startH;
                            string startM = ((Model.Rivals[i].Reservation.StartTime - (int)Model.Rivals[i].Reservation.StartTime) * 60).ToString();
                            startM = (startM.Length == 2) ? startM : "0" + startM;
                            <tr>
                                <td>
                                    <a href="/Stadium/Details/@Model.Rivals[i].Reservation.Field.StadiumId">@Model.Rivals[i].Reservation.Field.Stadium.Name</a>
                                </td>
                                <td>@Model.Rivals[i].Reservation.Field.Stadium.Street, @Model.Rivals[i].Reservation.Field.Stadium.Ward, @Model.Rivals[i].Reservation.Field.Stadium.District</td>
                                <td>@Model.Rivals[i].Reservation.Date.ToShortDateString()</td>
                                <td>@startH:@startM</td>
                                <td>@(Model.Rivals[i].Reservation.Duration * 60)</td>                                
                                <td>    
                                    @Model.Rivals[i].Reservation.User.FullName                         
                                </td>
                                <td>@Model.Rivals[i].Reservation.User.PhoneNumber</td>
                                <td><a href="~/Stadium/JoinRival?Id=@Model.Rivals[i].Reservation.Id">
                                    <button class="btn-small btn-success">Cấp kèo</button></a></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
            }
            else
            {
            <p>Không có sân bóng nào được tìm thấy.</p>
            }
        }
        else if (Model == null)
        {
            <p>Hiện tại không có sân bóng nào trên hệ thống.</p>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('table').dataTable({
            aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1, -2, -6]
              }
            ],
            "aaSorting": []
        }).columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [
                { type: "text" },
                { type: "text" },
                { type: "date-range" },
                { type: "text" },
                { type: "text" },
                { type: "text" },
                { type: "text" }
            ]
        });
    });
</script>