@model FootballPitchesBooking.Models.StadiumModels.JoinUsModel
@{
    ViewBag.JOINUS = "active";
    ViewBag.Title = "GIA NHẬP";
}

<div class="row join-us">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="JoinUs" method="post" class="form-horizontal">
                    <fieldset>
                        <h2>Đăng Ký Sân Bóng Của Bạn</h2>
                        <h4>Bạn hãy đầy đủ thông tin vào mẫu bên dưới để gửi yêu cầu</h4>                        
                        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        <div class="row">
                            <div class="span8">
                                <label style="font-weight:bold">Tên của bạn:</label>
                            </div>
                            <div class="span3">
                                <label>
                                    <input name="FullName" type="text" placeholder="HỌ VÀ TÊN" value="@Model.FullName">
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span8">
                                <label style="font-weight:bold">Thông tin liên lạc:</label>
                            </div>
                            <div class="span3">
                                <label>
                                    Địa chỉ E-Mail
									<input name="Email" type="text" value="@Model.Email">
                                </label>
                            </div>

                            <div class="span3">
                                <label>
                                    Số điện thoại
									<input name="PhoneNumber" type="text" value="@Model.Phone">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Địa chỉ nhà
									<input name="Address" type="text" value="@Model.Address">
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span8">
                                <label style="font-weight:bold">Sân bóng của bạn:</label>
                            </div>
                            <div class="span3">
                                <label>
                                    Tên sân
									<input name="StadiumName" type="text" value="@Model.StadiumName">
                                </label>
                            </div>
                            <div class="span5" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3">
                                <label>
                                    Đường
									<input name="StadiumStreet" type="text" value="@Model.StadiumStreet">
                                </label>
                            </div>

                            <div class="span3">
                                <label>
                                    Phường
									<input name="StadiumWard" type="text" value="@Model.StadiumWard">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Quận
                                    <select name="StadiumDistrict" id="district" data-cur="@Model.StadiumDistrict">
                                        <option id="first_district" value="Q. 1" selected="selected">Q. 1</option>
                                        <option value="Q. 2">Q. 2</option>
                                        <option value="Q. 3">Q. 3</option>
                                        <option value="Q. 4">Q. 4</option>
                                        <option value="Q. 5">Q. 5</option>
                                        <option value="Q. 6">Q. 6</option>
                                        <option value="Q. 7">Q. 7</option>
                                        <option value="Q. 8">Q. 8</option>
                                        <option value="Q. 9">Q. 9</option>
                                        <option value="Q. 10">Q. 10</option>
                                        <option value="Q. 11">Q. 11</option>
                                        <option value="Q. 12">Q. 12</option>
                                        <option value="Q. Bình Tân">Q. Bình Tân</option>
                                        <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                                        <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                                        <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                                        <option value="Q. Tân Bình">Q. Tân Bình</option>
                                        <option value="Q. Tân Phú">Q. Tân Phú</option>
                                        <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                                        <option value="H. Bình Chánh">H. Bình Chánh</option>
                                        <option value="H. Củ Chi">H. Củ Chi</option>
                                        <option value="H. Hóc Môn">H. Hóc Môn</option>
                                        <option value="H. Nhà Bè">H. Nhà Bè</option>
                                        <option value="H. Cần Giờ">H. Cần Giờ</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#district").val($("#district").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span9">
                                <label style="font-weight:bold">Yêu cầu đặc biệt:</label>
                                <textarea name="Note" class="span9" rows="3">@Model.Note</textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="span9">
                                <br />
                                <button type="submit" class="btn btn-primary btn-large book-now pull-right">Gửi</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </form>




            </div>
            
            <div class="span3">
                
                <br /><br /><br /><br />
                
                
                <h4>CƠ CHẾ TIẾP NHẬN:</h4>
                <p>
                    Sau khi bạn gửi yêu cầu gia nhập với chúng tôi, chúng tôi sẽ liên lạc với bạn trong thời gian sớm nhất để xác nhận lại thông tin và thỏa thuận giữa hai bên.
					<div class="pull-left">Hỗ trợ : <i class="pull-right">mailbox@fpb.com</i> <i class="pull-right">+841662194419</i></div>
                    <br />
                </p>
            </div>
        </div>
    </div>
</div>
