@model FootballPitchesBooking.Models.AccountModels.AccountModel
@{
    ViewBag.Title = "Đăng Ký Thành Viên";
}

<h2>ĐĂNG KÝ THÀNH VIÊN</h2>

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var username = $("#txtName").val();
        var password = $("#txtPass").val();
        var confirmpassword = $("#txtConfirmPass").val();
        var fullname = $("#txtFullN").val();
        var email = $("#txtMail").val();
        var phone = $("#txtPhone").val();
        var reg = /^(\w+[\.])*\w+@@(\w+\.)+[a-zA-Z]+$/;
        var aln = /^[a-z|A-Z|0-9]*$/;
        var address = $("#txtAddress").val();
        var add = /^[A-Za-z\d\s]*$/;


        if (username == "" || username.length < 6 || username.length > 32) {
            $("#ErrorName").text("Yêu cầu tài khoản từ 6 đến 32 kí tự");
            $("#ErrorName").css("display", "block");
            flag++;
        }
        else if (!aln.test(username)) {
            $("#ErrorName").text("Tên đăng nhập chỉ chấp nhận chữ và số");
            $("#ErrorName").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorName").text(" ");
            $("#ErrorName").css("display", "none");
        }

        if (password == "" || password.length < 6 || password.length > 32) {
            $("#ErrorPass").text("Yêu cầu mật khầu từ 6 đến 32 kí tự");
            $("#ErrorPass").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorPass").text(" ");
            $("#ErrorPass").css("display", "none");
        }

        if (confirmpassword == "" || confirmpassword != password) {
            $("#ErrorConfirmPass").text("Xác nhận mật khẩu phải giống với mật khẩu");
            $("#ErrorConfirmPass").css("display", "block");
            flag++;

        }
        else {
            $("#ErrorConfirmPass").text(" ");
            $("#ErrorConfirmPass").css("display", "none");
        }

        if (fullname == "" || fullname.length > 30) {
            $("#FullName_Error").text("Yêu cầu phải từ 1 đến 30 kí tự");
            $("#FullName_Error").css("display", "block");
            flag++;

        }
        else {
            $("#FullName_Error").text(" ");
            $("#FullName_Error").css("display", "none");
        }


        if (address == "" || address.length < 2 || password.length > 32) {
            $("#Address_Error").text("Yêu cầu địa chỉ từ 2 đến 32 kí tự");
            $("#Address_Error").css("display", "block");
            flag++;
        }
        else if (!add.test(address)) {
            $("#Address_Error").text("Địa chỉ chỉ phải có chữ và số");
            $("#Address_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Address_Error").text(" ");
            $("#Address_Error").css("display", "none");
        }

        if (!reg.test(email)) {
            $("#Email_Error").text("Email không đúng");
            $("#Email_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Email_Error").text(" ");
            $("#Email_Error").css("display", "none");
        }

        if (phone == "" || phone.length < 10 || phone.length > 11) {
            $("#Phone_Error").text("Yêu cầu phải nhập đúng số điện thoại");
            $("#Phone_Error").css("display", "block");
            flag++;

        }
        else {
            $("#Phone_Error").text(" ");
            $("#Phone_Error").css("display", "none");
        }


        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

@{
    string userName = "";
    string email = "";
    string fullName = "";
    string address = "";
    string phoneNumber = "";

    if (Model != null)
    {
        userName = Model.UserName;
        email = Model.Email;
        fullName = Model.FullName;
        address = Model.Address;
        phoneNumber = Model.PhoneNumber;
    }
}


@if (Model != null && Model.ErrorMessages.Count() > 0)
{
    <div style="color: red">
        @foreach (var error in Model.ErrorMessages)
        {
            <p>- @error</p>
        }
    </div>
}

<div class="row">
    <form action="Register" method="post">
        <div class="span9 no-margin">
            @if (Model != null && Model.Result == 2)
            {
                <div class="span9">
                    <p>Tài khoản <b>@Model.UserName</b> của bạn đã được kích hoạt thành công.</p>
                    <p>
                        <button type="button" onclick="window.location = '/Home'" class="btn btn-primary btn-large book-now pull-right groupbtn">Về trang chủ</button>
                    </p>
                </div>
            }
            else if (Model != null && Model.Result == 1)
            {
                <div class="span9">
                    <p>Cám ơn bạn đã tham gia, vui lòng kích hoạt bằng email để hoàn tất quá trình đăng ký.</p>
                    <p>
                        <button type="button" onclick="window.location = '/Home'" class="btn btn-primary btn-large book-now pull-right groupbtn">Về trang chủ</button>
                    </p>
                </div>
            }
            else
            {
                <div class="span6">
                    <label for="UserName" class="span3">TÊN ĐĂNG NHẬP</label>
                    <input type="text" id="txtName" name="UserName" placeholder="Tài khoản đăng nhập" required="Required" value="@userName" />
                    <div class="alert alert-danger" id="ErrorName" style="display: none"></div>
                </div>
                <div class="span6">
                    <label for="Password" class="span3">MẬT KHẨU</label>
                    <input type="password" id="txtPass" name="Password" placeholder="Nhập mật khẩu" required="required" />
                    <div class="alert alert-danger" id="ErrorPass" style="display: none"></div>
                </div>
                <div class="span6">
                    <label for="ConfirmPassword" class="span3">XÁC NHẬN MẬT KHẨU</label>
                    <input type="password" id="txtConfirmPass" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" required="required" />
                    <div class="alert alert-danger" id="ErrorConfirmPass" style="display: none"></div>
                </div>
                <div class="span6">
                    <label for="Email" class="span3">EMAIL</label>
                    <input type="text" id="txtMail" name="Email" placeholder="Nhập vào Email" required="required" value="@email" />
                    <div class="alert alert-danger" id="Email_Error" style="display: none"></div>
                </div>
                <div class="span6">
                    <label for="FullName" class="span3">TÊN ĐẦY ĐỦ</label>
                    <input type="text" id="txtFullN" name="FullName" placeholder="Nhập vào Họ và Tên" required="required" value="@fullName" />
                    <div class="alert alert-danger" id="FullName_Error" style="display: none"></div>
                </div>
                <div class="span6">
                    <label for="Address" class="span5">ĐỊA CHỈ</label>
                    <div class="span5 pull-right">
                        <label for="Province" class="span2">Tỉnh/Thành phố:</label>
                        <select name="Province">
                            <option>TP.Hồ Chí Minh</option>
                            <option>Hà Nội</option>
                            <option>Đà Nẵng</option>
                        </select>
                    </div>
                    <div class="span5 pull-right">
                        <label for="District" class="span2">Quận/Huyện:</label>
                        <select name="District">
                            <option value="Quận 1" selected="selected">Quận 1</option>
                            <option value="Quận 2">Quận 2</option>
                            <option value="Quận 3">Quận 3</option>
                            <option value="Quận 4">Quận 4</option>
                            <option value="Quận 5">Quận 5</option>
                            <option value="Quận 6">Quận 6</option>
                            <option value="Quận 7">Quận 7</option>
                            <option value="Quận 8">Quận 8</option>
                            <option value="Quận 9">Quận 9</option>
                            <option value="Quận 10">Quận 10</option>
                            <option value="Quận 11">Quận 11</option>
                            <option value="Quận 12">Quận 12</option>
                            <option value="Q. Bình Tân">Q. Bình Tân</option>
                            <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                            <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                            <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                            <option value="Q. Tân Bình">Q. Tân Bình</option>
                            <option value="Q. Tân Phú">Q. Tân Phú</option>
                            <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                            <option value="H. Bình Chánh">H. Bình Chánh</option>
                            <option value="H. Củ Chi">H. Củ Chi</option>
                            <option value="H. Hóc Môn">H. Hóc Môn</option>
                            <option value="H. Nhà Bè">H. Nhà Bè</option>
                            <option value="H. Cần Giờ">H. Cần Giờ</option>
                        </select>
                    </div>
                    <div class="span5 pull-right">
                        <label for="District" class="span2">Địa chỉ:</label>
                        <input type="text" id="txtAddress" name="Street" placeholder="Nhập vào địa chỉ " required="required" value="@address" />
                        <div class="alert alert-danger" id="Address_Error" style="display: none"></div>
                    </div>

                </div>
                <div class="span6">
                    <label for="PhoneNumber" class="span3">SỐ ĐIỆN THOẠI</label>
                    <input type="text" id="txtPhone" name="PhoneNumber" placeholder="Nhập số điện thoại" required="required" value="@phoneNumber" />
                    <script type="text/javascript">
                        $('#txtPhone').keyup(function (event) {
                            if (isNaN(String.fromCharCode(event.which))) {
                                var value = $(this).val();
                                $(this).val(value.substr(0, value.length - 1));
                            }
                        });
                    </script>
                    <div class="alert alert-danger" id="Phone_Error" style="display: none"></div>
                </div>
                <div class="span7">
                    <button type="button" onclick="window.location = '/Home'" class="btn btn-primary btn-large book-now pull-right groupbtn">Hủy bỏ</button>
                    <button type="submit" name="Register" onclick="return check()" class="btn btn-primary btn-large book-now pull-right groupbtn">Đăng ký</button>
                </div>
            }
        </div>
    </form>
</div>
