@using PagedList.Mvc;
@using PagedList;
@using FootballPitchesBooking.Models;
<script>
    $(document).ready(function () {
        // Select all.
        $("#select_all").click(function () {
            $(".is_selected").attr('checked', true);
            $(':disabled').attr('checked', false);
        });

        // Unselect all.
        $("#unselect_all").click(function () {
            $(".is_selected").attr('checked', false);
        });

        $("#deactivate").click(function () {
            var val = "";
            $(':checkbox:checked').each(function (i) {
                val += $(this).val() + "-";
            });

            if (val == "") {
                alert("You must select at least one user!");
            } else {
                var con = confirm("Are you sure you want to deactivate this user(s)?");
                if (con == true) {
                    // Deactivate.
                    $.ajax({
                        url: "@Url.Content("~/User/Deactivate")?ids=" + val,
                        type: 'GET',
                        success: function (result) {
                            if (result != null) {
                                alert(result);
                                // Reload page.
                                $.ajax({
                                    url: "@Url.Content("~/User/Index")?page=@ViewBag.Page&keyWord=@ViewBag.KeyWord&column=@ViewBag.Column&sort=@ViewBag.Sort",
                                    type: 'GET',
                                    success: function (data) {
                                        $("#unobtrusive").html(data);
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });

        $("#activate").click(function () {
            var val = "";
            $(':checkbox:checked').each(function () {
                val += $(this).val() + "-";
            });
            if (val == "") {
                alert("You must select at least one user!");
            } else {
                var con = confirm("Are you sure you want to activate this user(s)?");
                if (con == true) {
                    // Activate.
                    $.ajax({
                        url: "@Url.Content("~/User/Activate")?ids=" + val,
                        type: 'GET',
                        success: function (result) {
                            if (result != null) {
                                alert(result);
                                // Reload page.
                                $.ajax({
                                    url: "@Url.Content("~/User/Index")?page=@ViewBag.Page&keyWord=@ViewBag.KeyWord&column=@ViewBag.Column&sort=@ViewBag.Sort",
                                    type: 'GET',
                                    success: function (data) {
                                        $("#unobtrusive").html(data);
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });

        $("#delete").click(function () {
            var val = "";
            $(':checkbox:checked').each(function () {
                val += $(this).val() + "-";
            });
            if (val == "") {
                alert("You must select at least one user!");
            } else {
                var con = confirm("Are you sure you want to delete this user(s)?");
                if (con == true) {
                    // Delete.
                    $.ajax({
                        url: "@Url.Content("~/User/Delete")?ids=" + val,
                        type: 'GET',
                        success: function (result) {
                            if (result != null) {
                                alert(result);
                                // Reload page.
                                $.ajax({
                                    url: "@Url.Content("~/User/Index")?page=@ViewBag.Page&keyWord=@ViewBag.KeyWord&column=@ViewBag.Column&sort=@ViewBag.Sort",
                                    type: 'GET',
                                    success: function (data) {
                                        $("#unobtrusive").html(data);
                                    }
                                });
                            }
                        }
                    });
                }
            }
        });
    });
</script>
<div id="list">
    <div>
        <table class="table table-condensed table-bordered table-hover" >
            <tr>
                <th style="vertical-align: middle; width: 50px">
                    No.
                </th>
                <th style="vertical-align: middle">
                    Họ và tên
                </th>
                <th style="vertical-align: middle">
                    Tên đăng nhập
                </th>
                <th style="vertical-align: middle; width: 50px">
                    Quyền hạn
                </th>
                
            </tr>
            @{
                var row = 0;
                foreach (var user in ViewBag.onePageOfUsers as IEnumerable<User>)
                {

                    row++;
                    <tr id="row_@row">
                        <td>
                            @{
                                var noList = ViewBag.NoList as List<NoModel>;
                                var no = noList.FirstOrDefault(n => n.Id == user.Id).No;
                                <span style="word-wrap: break-word">@no</span>
                            }
                        </td>
                        <td>
                            <span style="word-wrap: break-word">@Html.ActionLink(user.FullName, "ViewAccountProfile", "Account", new {id = @user.Id}, null)</span>
                        </td>
                        <td>
                            <span style="word-wrap: break-word">@Html.DisplayFor(model => user.UserName)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(item => user.Role.Role1)
                        </td>
                        
                        @if (!user.IsActive)
                        {
                            <script>
                                $("#row_@row").addClass("deactivated_item");
                            </script>
                        }
                    </tr>
                }
            }
        </table>
    </div>
    @Html.PagedListPager((IPagedList)ViewBag.onePageOfUsers, page => Url.Action("Index", new { page, sort = @ViewBag.Sort, column = @ViewBag.Column, keyWord = @ViewBag.KeyWord }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "" }))
</div>