@model FootballPitchesBooking.Models.WebsiteStaffModels.AdvertisementModel
@{
    ViewBag.ADVERTISEMENT = "active";
    ViewBag.Title = "Chỉnh sửa thông tin quảng cáo";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}


<link rel="stylesheet" href="~/Content/bootstrap/css/datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/bootstrap/css/datepicker3.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/bootstrap/js/bootstrap-datepicker.js"></script>

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var detail = $("#AdvertiseDetail").val();
        var expired = $("#ExpiredDate").val();

        if (detail == "") {
            $("#AdvertiseDetail_Error").append("Xin vui lòng nhập vào chi tiết của quảng cáo");
            $("#AdvertiseDetail_Error").css("display", "block");
            flag++;
        }
        else {
            $("#AdvertiseDetail_Error").text(" ");
            $("#AdvertiseDetail_Error").css("display", "none");
        }

        if (expired == "") {
            $("#ExpiredDate_Error").append("Xin vui lòng chọn thời gian khuyến mãi");
            $("#ExpiredDate_Error").css("display", "block");
            flag++;
        }
        else {
            $("#ExpiredDate_Error").text(" ");
            $("#ExpiredDate_Error").css("display", "none");
        }

        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

<div class="row websitestaff-create-advertisement">
    <h1>CHỈNH SỬA THÔNG TIN QUẢNG CÁO</h1>
    <form action="AddAdvertisement" method="post" class="form-horizontal" enctype="multipart/form-data">
        <p>
            @if (Model.ErrorMessages != null && Model.ErrorMessages.Count() > 0)
            {
                <div class="alert alert-danger">
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <p>- @error</p>
                    }
                </div>
            }
        </p>
        <div class="span7">
            <div class="span3" style="margin-bottom: 10px;">
                <label>
                    Vị trí
                <select id="Position" name="Position" data-cur="@Model.Position">
                    <option value="Banner1" selected="selected">Biểu ngữ 1</option>
                    <option value="Banner2">Biểu ngữ 2</option>
                    <option value="Banner3">Biểu ngữ 3</option>
                </select>
                </label>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#Position").val($("#Position").data("cur"));
                    });
                </script>
            </div>
            <div class="span6" style="margin-bottom: 10px;">
                <label>
                    Chi tiết quảng cáo
                <textarea name="AdvertiseDetail" id="AdvertiseDetail" class="span6">@Model.AdvertiseDetail</textarea>
                    <div class="alert alert-danger" id="AdvertiseDetail_Error" style="display: none"></div>
                </label>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#AdvertiseDetail').autosize();
                    });
                </script>
            </div>
            <div class="span3" style="margin-bottom: 10px;">
                <label>
                    Ngày hết hạn
                <input name="ExpiredDate" id="ExpiredDate" type="text" placeholder="Ngày hết hạn" required="required" value="@Model.ExpiredDate.ToString("dd/MM/yyyy")">
                    <script>
                        $('#ExpiredDate').datepicker({
                            format: "dd/mm/yyyy",
                            language: "vi"
                        });
                    </script>
                    <div class="alert alert-danger" id="ExpiredDate_Error" style="display: none"></div>
                </label>
            </div>
            <div class="span3" style="visibility: hidden;">
                <label>&nbsp</label>
                <input type="text">
                <div class="alert alert-danger" style="display: none"></div>
            </div>
            <div class="span3" style="margin-bottom: 10px;">
                <label>
                    Trạng thái
                <select id="Status" name="Status" data-cur="@Model.Status">
                    <option value="Active" selected="selected">Đang hoạt động</option>
                    <option value="Deactive">Không hoạt động</option>
                    <option value="Waiting">Đang chờ</option>
                </select>
                </label>
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#Status").val($("#Status").data("cur"));
                    });
                </script>
            </div>
            <div class="span6">
                <button class="btn btn-primary book-now groupbtn pull-right" type="button" onclick="window.location = '/StadiumStaff/Promotions'">Hủy bỏ</button>
                <button class="btn btn-primary book-now groupbtn pull-right" type="submit" name="Save" onclick="return check()">Lưu</button>
            </div>
        </div>
    </form>
</div>
