@model FootballPitchesBooking.Models.RecommendationModels.RecommendationPriorityModel
@{
    ViewBag.Title = "Quản Lý Gợi Ý Sân Bóng";
    ViewBag.PRIORITY = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}


<script src="~/Content/bootstrap/js/jquery-ui-1.9.2.custom.js"></script>

<h2>QUẢN LÝ GỢI Ý SÂN BÓNG</h2>
<div>
    <h4>Sân tốt nhất cho bạn:</h4>
    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="best-stadium-amount1" data-cname="Bs_MostBooked" value="@Model.BestStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="best-stadium-amount2" data-cname="Bs_Nearest" value="@Model.BestStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="best-stadium-amount3" data-cname="Bs_MostPromoted" value="@Model.BestStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="best-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />
<h4>Sân gần nhà:</h4>
<div>
    <div class="row">

        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="nearest-stadium-amount1" data-cname="Nr_MostBooked" value="@Model.NearestStadiumsMostBooked.Value" readonly/>
            </label>
        </div>

        <div class="span4">
            <label>
                Sân gần nhà (%)
           <input type="text" id="nearest-stadium-amount2" data-cname="Nr_Nearest" value="@Model.NearestStadiumsNearest.Value" readonly/>
            </label>
        </div>

        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="nearest-stadium-amount3" data-cname="Nr_MostPromoted" value="@Model.PromotionStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="nearest-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Sân khuyến mãi:</h4>

    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="promoted-stadium-amount1" data-cname="Pr_MostBooked" value="@Model.PromotionStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="promoted-stadium-amount2" data-cname="Pr_Nearest" value="@Model.PromotionStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="promoted-stadium-amount3" data-cname="Pr_MostPromoted" value="@Model.PromotionStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="promoted-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Sân Hay Đặt:</h4>
    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="mostBooked-stadium-amount1" data-cname="Pr_MostBooked" value="@Model.MostBookedStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="mostBooked-stadium-amount2" data-cname="Pr_Nearest" value="@Model.MostBookedStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="mostBooked-stadium-amount3" data-cname="Pr_MostPromoted" value="@Model.MostBookedStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="mostBooked-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Cáp Kèo:</h4>
    <div class="row">
        <div class="span4">
            <label>
                Kèo tại đặt nhiều (%)
            <input type="text" id="rival-amount1" data-cname="Rv_Mostbooked" value="@Model.RivalAtStadiumMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Kèo tại gần nhà (%)
            <input type="text" id="rival-amount2" data-cname="Rv_Nearest" value="@Model.RivalAtStadiumNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Kèo sắp đá (%)
            <input type="text" id="rival-amount3" data-cname="Rv_Expired" value="@Model.RivalExpired.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="rival"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Quy Định Thời Điểm Đặt Sân:</h4>
    <p>
        <label for="amount">Thời gian tối thiểu trước khi đặt sân (phút)</label>
        <input type="text" id="minTimeBooking" data-cname="MinTimeBooking" value="@Model.MinTimeBooking.Value" readonly/>
    </p>
    <div id="min-time-booking"></div>
    <br />
    <button onclick="updateMinTimeBooking(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Quy Định Thời Gian Hủy Đặt Sân:</h4>
    <p>
        <label for="amount">Thời gian tối thiểu để có thể hủy đặt sân (phút)</label>
        <input type="text" id="minTimeCancel" data-cname="MinTimeCancel" value="@Model.MinTimeCancel.Value" readonly/>
    </p>
    <div id="min-time-cancel"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h4>Quy Định Thời Hạn Cập Nhật Địa Chỉ Của Người Sử Dụng:</h4>
    <p>
        <label for="amount">Thời gian cập nhật địa chỉ người dùng và khoảng cách đến sân bóng (ngày)</label>
        <input type="text" id="periodic" data-cname="Gg_Periodic" value="@Model.GgPeriodic.Value" readonly/>
    </p>
    <div id="google-periodic"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />


<script type="text/javascript">
    function updatePriority(control){
        var postData = "{";
        $.each($(control).parent().find("input"), function(index, input) {
            postData+= '"' + $(input).data("cname") +  '":"' + $(input).val() + '"';
            if ((index + 1) != $(control).parent().find("input").length){
                postData += ", ";
            }
        });
        postData += "}";
        $.ajax({
            url: "/WebsiteStaff/EditPriority",
            type: 'post',
            data: postData,
            success: function(data){
                alert(data);
            }
        });
    }
    
</script>

<script type="text/javascript">
    function updateMinTimeBooking(control){
        var postData = "{";
        $.each($(control).parent().find("input"), function(index, input) {
            postData+= '"' + $(input).data("cname") +  '":"' + $(input).val() + '"';
            if ((index + 1) != $(control).parent().find("input").length){
                postData += ", ";
            }
        });
        postData += "}";
        $.ajax({
            url: "/WebsiteStaff/UpdateMinTimeBooking",
            type: 'post',
            data: postData,
            success: function(data){
                alert(data);
            }
        });
    }
    
</script>

<script>
    $(function () {
        $("#best-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.BestStadiumsMostBooked.Value, @Model.BestStadiumsMostBooked.Value + @Model.BestStadiumsNearest.Value],
            slide: function (event, ui) {                  
                $("#best-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#best-stadium-amount1").val(ui.values[0]);
                $("#best-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#best-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#best-stadium-amount").val($("#best-stadium").slider("values", 0)
          + "% - " + ($("#best-stadium").slider("values", 1) - $("#best-stadium").slider("values", 0)) + "% - "
          + (100 - $("#best-stadium").slider("values", 1)) + "%");
        $("#best-stadium-amount1").val($("#best-stadium").slider("values", 0));
        $("#best-stadium-amount2").val($("#best-stadium").slider("values", 1) - $("#best-stadium").slider("values", 0));
        $("#best-stadium-amount3").val(100 - $("#best-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#nearest-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.NearestStadiumsMostBooked.Value, @Model.NearestStadiumsMostBooked.Value+@Model.NearestStadiumsNearest.Value],
            slide: function (event, ui) {
                $("#nearest-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#nearest-stadium-amount1").val(ui.values[0]);
                $("#nearest-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#nearest-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#nearest-stadium-amount").val($("#nearest-stadium").slider("values", 0)
          + "% - " + ($("#nearest-stadium").slider("values", 1) - $("#nearest-stadium").slider("values", 0)) + "% - "
          + (100 - $("#nearest-stadium").slider("values", 1)) + "%");
        $("#nearest-stadium-amount1").val($("#nearest-stadium").slider("values", 0));
        $("#nearest-stadium-amount2").val($("#nearest-stadium").slider("values", 1) - $("#nearest-stadium").slider("values", 0));
        $("#nearest-stadium-amount3").val(100 - $("#nearest-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#promoted-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.PromotionStadiumsMostDiscount.Value, @Model.PromotionStadiumsMostDiscount.Value + @Model.PromotionStadiumsNearest.Value],
            slide: function (event, ui) {
                $("#promoted-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#promoted-stadium-amount1").val(ui.values[0]);
                $("#promoted-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#promoted-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#promoted-stadium-amount").val($("#promoted-stadium").slider("values", 0)
          + "% - " + ($("#promoted-stadium").slider("values", 1) - $("#promoted-stadium").slider("values", 0)) + "% - "
          + (100 - $("#promoted-stadium").slider("values", 1)) + "%");
        $("#promoted-stadium-amount1").val($("#promoted-stadium").slider("values", 0));
        $("#promoted-stadium-amount2").val($("#promoted-stadium").slider("values", 1) - $("#promoted-stadium").slider("values", 0));
        $("#promoted-stadium-amount3").val(100 - $("#promoted-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#mostBooked-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.MostBookedStadiumsMostBooked.Value, @Model.MostBookedStadiumsMostBooked.Value + @Model.MostBookedStadiumsNearest.Value],
            slide: function (event, ui) {                  
                $("#mostBooked-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#mostBooked-stadium-amount1").val(ui.values[0]);
                $("#mostBooked-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#mostBooked-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#mostBooked-stadium-amount").val($("#mostBooked-stadium").slider("values", 0)
          + "% - " + ($("#mostBooked-stadium").slider("values", 1) - $("#mostBooked-stadium").slider("values", 0)) + "% - "
          + (100 - $("#mostBooked-stadium").slider("values", 1)) + "%");
        $("#mostBooked-stadium-amount1").val($("#mostBooked-stadium").slider("values", 0));
        $("#mostBooked-stadium-amount2").val($("#mostBooked-stadium").slider("values", 1) - $("#mostBooked-stadium").slider("values", 0));
        $("#mostBooked-stadium-amount3").val(100 - $("#mostBooked-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#rival").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.RivalAtStadiumMostBooked.Value, @Model.RivalAtStadiumMostBooked.Value + @Model.RivalExpired.Value],
            slide: function (event, ui) {                  
                $("#rival-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#rival-amount1").val(ui.values[0]);
                $("#rival-amount2").val(ui.values[1] - ui.values[0]);
                $("#rival-amount3").val(100 - ui.values[1]);
            }
        });
        $("#rival-amount").val($("#rival").slider("values", 0)
          + "% - " + ($("#rival").slider("values", 1) - $("#rival").slider("values", 0)) + "% - "
          + (100 - $("#rival").slider("values", 1)) + "%");
        $("#rival-amount1").val($("#rival").slider("values", 0));
        $("#rival-amount2").val($("#rival").slider("values", 1) - $("#rival").slider("values", 0));
        $("#rival-amount3").val(100 - $("#rival").slider("values", 1));
    });
</script>

<script>
    $(function() {
        $( "#min-time-booking" ).slider({
            range: "max",   
            min: 1,
            max: 90,
            value: @Model.MinTimeBooking.Value,
            slide: function( event, ui ) {
                $( "#minTimeBooking" ).val( ui.value );
            }
        });
        $( "#minTimeBooking" ).val( $( "#min-time-booking" ).slider( "value" ) );
    });
  </script>

<script>
    $(function() {
        $( "#min-time-cancel" ).slider({
            range: "max",   
            min: 1,
            max: 180,
            value: @Model.MinTimeCancel.Value,
            slide: function( event, ui ) {
                $( "#minTimeCancel" ).val( ui.value );
            }
        });
        $( "#minTimeCancel" ).val( $( "#min-time-cancel" ).slider( "value" ) );
    });
  </script>

<script>
    $(function() {
        $( "#google-periodic" ).slider({
            range: "max",   
            min: 1,
            max: 30,
            value: @Model.GgPeriodic.Value,
            slide: function( event, ui ) {
                $( "#periodic" ).val( ui.value );
            }
        });
        $( "#periodic" ).val( $( "#google-periodic" ).slider( "value" ) );
    });
  </script>