@{
    ViewBag.Title = "Ranks";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>Quản Lý Rank</h2>

<link href="@Url.Content("~/Content/Bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
<br />
<div class="search_content" style="background-image: none; background-color: white">
    <div>
        @using (Ajax.BeginForm("MemberRanks", "WebsiteStaff", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "unobtrusive",
            }, new { @class = "form-inline" }))
        {
            @Html.TextBox("keyWord", "", new { placeholder = "Name of Rank" })
            <button type="submit" class="btn" value="Search" style="width: 80px;">
                Search</button>
            @Html.ActionLink("Reload", "MemberRanks", "WebsiteStaff", null, new { @class = "btn", style = "width:54px" })
        }
    </div>
</div>
<br />
<div>
    @*<span>@Html.ActionLink("Create Rank", "Create", null, new { @class = "btn" })</span>
    <span>@Html.ActionLink("Import Rank", "Import", null, new { @class = "btn" })</span>*@
</div>
<br />
<div id="unobtrusive" style="background-image: none; background-color: white">
    @Html.Partial("_List2")
</div>