@model List<FootballPitchesBooking.Models.Stadium>
@{
    ViewBag.Title = "Quản Lý Sân Bóng";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h1><span>QUẢN LÝ</span> YÊU CẦU THAM GIA HỆ THỐNG</h1>
<h4><a href="/WebsiteStaff/AddStadium">THÊM SÂN MỚI</a></h4>

@if (TempData["DeleteError"] != null)
{
    <p style="color: red">@TempData["DeleteError"]</p>
}

@if (Model != null && Model.Count != 0)
{
    <table border="1">
        <thead>
            <tr>
                <th>Tên Sân Bóng</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Trạng Thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Street, @item.Ward, @item.District</td>
                    <td>@item.Phone</td>
                    @if (item.IsActive)
                    {
                        <td>Đang Hoạt Động</td>
                    }
                    else
                    {
                        <td>Chưa Hoạt Động</td>
                    }
                    <td><a href="/WebsiteStaff/EditStadium?Id=@item.Id">Chỉnh Sửa</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Hiện tại không có sân bóng nào trên hệ thống.</p>
}
