@model List<FootballPitchesBooking.Models.Stadium>
@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "Quản Lý Sân Bóng";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h1><span>QUẢN LÝ</span> SÂN BÓNG</h1>
<h4><a href="/WebsiteStaff/AddStadium">THÊM SÂN MỚI</a></h4>

@if (TempData["DeleteError"] != null)
{
    <p style="color: red">@TempData["DeleteError"]</p>
}

@if (Model != null && Model.Count != 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>TÊN SÂN BÓNG</th>
                <th>ĐỊA CHỈ</th>
                <th>SỐ ĐIỆN THOẠI</th>
                <th>NGÀY HẾT HẠN</th>
                <th>TRẠNG THÁI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Street, @item.Ward, @item.District</td>
                    <td>@item.Phone</td>
                    <td>@item.ExpiredDate.ToShortDateString()</td>
                    @if (item.IsActive)
                    {
                        <td>Đang hoạt động</td>
                    }
                    else
                    {
                        <td>Không hoạt động</td>
                    }
                    <td><a href="/WebsiteStaff/EditStadium?Id=@item.Id">Chỉnh sửa</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Hiện tại không có sân bóng nào trên hệ thống.</p>
}
