@{
    ViewBag.Title = "Users";
    ViewBag.MEMBER = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>Quản Lý Người Sử Dụng</h2>

<link href="@Url.Content("~/Content/Bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" />
<br />
<div class="search_content" style="background-image: none; background-color: white">
    <div>
        @using (Ajax.BeginForm("Users", "User", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "unobtrusive",
            }, new { @class = "form-inline" }))
        {
            @Html.TextBox("keyWord", "", new { placeholder = "Full Name or Username" })
            <button type="submit" class="btn" value="Search" style="width: 80px;">
                Search</button>
            @Html.ActionLink("Reload", "Users", "User", null, new { @class = "btn", style = "width:54px" })
        }   
    </div>
</div>
<br />
<div> @Html.ActionLink("Thêm Thành Viên", "AddUser", "WebsiteStaff", null, null)</div>
<div>
    @*<span>@Html.ActionLink("Create User", "Create", null, new { @class = "btn" })</span>
    <span>@Html.ActionLink("Import Users", "Import", null, new { @class = "btn" })</span>*@
</div>
<br />
<div id="unobtrusive" style="background-image: none; background-color: white">
    @Html.Partial("_List")
</div>