@model FootballPitchesBooking.Models.StadiumStaffModels.PromotionModel
@{
    ViewBag.PROMOTION = "active";
    ViewBag.Title = "Sửa khuyến mãi";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var promotionfrom = $("input[name=PromotionFrom]").val();
        var promotionto = $("input[name=PromotionTo]").val();
        var discount = new Number($("input[name=Discount]").val());

        if (promotionfrom == "" || promotionto == "") {
            $("#UserName_Error").append("Xin vui lòng chọn thời gian khuyến mãi");
            $("#UserName_Error").css("display", "block");
            flag++;
            //return false;
        }

        if (discount < 0 || discount > 100) {
            $("#Password_Error").append("Yêu cầu giảm giá nằm trong khoảng từ 0 đến 100");
            $("#Password_Error").css("display", "block");
            flag++;
            //return false;
        }

        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

<div class="row stadiumstaff-create-promotion">
    <h1>CHỈNH SỬA THÔNG TIN KHUYẾN MÃI</h1>
    <form action="EditPromotion?stadium=@Request.QueryString["pr"]" method="post" class="form-horizontal" enctype="multipart/form-data">
        <p>
             @if (Model.ErrorMessages != null && Model.ErrorMessages.Count() > 0)
             {
                 <div class="alert alert-danger">
                     @foreach (var error in Model.ErrorMessages)
                     {
                         <p>- @error</p>
                     }
                 </div>
             }
        </p>
        <p>
            <label for="Fields">(*) Số sân:</label>
            <select id="Fields" name="Fields">
                @foreach(var item in Model.Fields)
                {
                    if (item.IsActive)
                    {
                        <option value="@item.Id">@item.Number</option>
                    }
                }
            </select>
        </p>
        <p>
            <label for="PromotionTime">(*) Thời gian khuyến mãi:</label><br />
            <div class="input-daterange input-group" id="promotionTime">
                <input type="text" class="input-sm form-control" name="PromotionFrom" required="required" value="@Model.PromotionFrom.ToString("dd/MM/yyyy")" />
                <span class="input-group-addon">to</span>
                <input type="text" class="input-sm form-control" name="PromotionTo" required="required" value="@Model.PromotionTo.ToString("dd/MM/yyyy")" />
            </div>
            <script>
                $('.promotionTime').datepicker({
                    format: "dd/mm/yyyy",
                    language: "vi"
                });
            </script>
            <div class="alert alert-danger" id="PromotionTime_Error" style="display: none"></div>
        </p>
        <p>
            <label for="Discount">(*) Giảm giá (%):</label>
            <input name="Discount" type="text" placeholder="Giảm giá (%)" required="required" value="@Model.Discount">
            <script type="text/javascript"> 
                $("input[name=Discount]").keyup(function(){
                    var val = $(this).val();
                    if(isNaN(val)){
                        val = val.replace(/[^0-9\.]/g,'');
                        if(val.split('.').length>2) 
                            val = val.replace(/\.+$/,"");
                    }
                    $(this).val(val); 
                });​
            </script>
            <div class="alert alert-danger" id="Discount_Error" style="display: none"></div>
        </p>
        <p>
            <label for="IsActive">(*) Trạng thái hoạt động:</label>
            <select id="isActive" name="IsActive" data-cur="@Model.IsActive">
                <option value="True">ĐANG HOẠT ĐỘNG</option>
                <option value="False">KHÔNG HOẠT ĐỘNG</option>
            </select>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#isActive").val($("#isActive").data("cur"));
                });
            </script>
        </p>
        <button type="submit" name="EditPromotion" onclick="return check()">Lưu</button>
        <button type="button" onclick="window.location = '/StadiumStaff/Promotions'">Hủy bỏ</button>
    </form>
</div>

