@model FootballPitchesBooking.Models.StadiumStaffModels.PromotionsModel
@{
    ViewBag.PROMOTION = "active";
    ViewBag.Title = "Quản Lý Khuyến Mãi";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<div class="row">
    @if (Model.HavePermission)
    {
        <div class="span12">
            <h1>QUẢN LÝ KHUYẾN MÃI</h1>
            <h4>HỆ THỐNG SÂN <a href="/StadiumStaff/Fields?Stadium=@Model.Stadium.Id">@Model.Stadium.Name</a> : <i>@Model.Stadium.Street, @Model.Stadium.Ward, @Model.Stadium.District</i></h4>
            <br />
            <div class="span3 no-margin">
                @if (Model.Stadiums.Count() > 0)
                {
                    <table class="table table-condensed table-bordered table-hover">
                        <tbody>
                            @foreach (var item in Model.Stadiums)
                            {
                                <tr>
                                    <td><a href="/StadiumStaff/Promotions?Stadium=@item.Id">@item.Name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="span9">
                @if (Model.FieldCount > 0)
                {
                <a href="/StadiumStaff/AddPromotion?Stadium=@Model.Stadium.Id">
                    <button class="btn btn-primary btn-large book-now groupbtn no-margin">Thêm khuyến mãi</button></a>
                    <br />
                    <br />
                }
                else
                {
                    <p>Bạn cần thêm sân con cho sân bóng trước khi tạo khuyến mãi.</p>
                }

                @if (Model.Promotions != null && Model.Promotions.Count > 0)
                {
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>SỐ SÂN</th>
                                <th>THỜI GIAN KHUYẾN MÃI</th>
                                <th>GIẢM GIÁ</th>
                                <th>TRẠNG THÁI HOẠT ĐỘNG</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Promotions)
                            {
                                <tr>
                                    <td>@item.Field.Number</td>
                                    <td>@item.PromotionFrom.ToString("dd/MM/yyyy") - @item.PromotionTo.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Discount</td>
                                    @if (item.IsActive)
                                    {
                                        <td>Đang Hoạt Động</td>
                                    }
                                    else
                                    {
                                        <td>Không Hoạt Động</td>
                                    }
                                    <td class="table-cell-action"><a href="/StadiumStaff/EditPromotion?Id=@item.Id">Chỉnh Sửa</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Hiện tại không có khuyến mãi nào cho sân bóng này.</p>
                }
            </div>
        </div>
   
    }
    else
    {
        <h3>@Model.ErrorMessage</h3>
    }
</div>
