@model FootballPitchesBooking.Models.RecommendationModels.RecommendationModel
@{
    ViewBag.HOME = "active";
    ViewBag.Title = "TRANG CHỦ";
    var now = TimeZoneInfo.ConvertTimeBySystemTimeZoneId(DateTime.Now.AddHours(2), "SE Asia Standard Time");
}
<div class="row">
    <div class="span12 what_people_say">
        <div id="quotes">
            <blockquote class="textItem" style="display: none;">
                <p>HỆ THỐNG TRỰC TUYẾN 24/7</p>
            </blockquote>

            <blockquote class="textItem" style="display: none;">
                <p>TÌM SÂN CỰC NHANH, ĐẶT SÂN CỰC DỄ</p>
            </blockquote>

            <blockquote class="textItem" style="display: none;">
                <p>HỖ TRỢ CÁP KÈO, GỢI Ý SÂN THÍCH HỢP</p>
            </blockquote>

            <blockquote class="textItem" style="display: none;">
                <p>HỆ THỐNG THÀNH VIÊN HẤP DẪN</p>
            </blockquote>
        </div>
    </div>
</div>

<hr />
<!--collapse search -->
<div class="row-fluid" id="findavailablesection">
    <div class="span12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">&#9917; tìm sân nhanh 
                            <span class="glyphicon glyphicon-collapse-down pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h5><span class="special-font" style="font-weight: bold">chọn kiểu sân, ngày giờ và địa điểm</span></h5>
                        <form method="post" action="/Stadium/QuickSearch" class="form-inline">
                            <div class="row-fluid home">
                                <div id="fieldtypeselector" class="span3">
                                    <div class="room_selector" data-ftype="5" style="display: block">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left"><i class="icon-chevron-left"></i></a>sân 5 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san5nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san5nguoi.jpg" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 42m và tối thiểu 25m, chiều rộng tối đa 25m và tối thiểu 15m.</p>
                                    </div>
                                    <div class="room_selector" data-ftype="7" style="display: none">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>sân 7 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san7nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san7nguoi.jpg" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 75m và tối thiểu 50m, chiều rộng tối đa 40m và tối thiểu 55m.</p>
                                    </div>
                                    <div class="room_selector" data-ftype="11" style="display: none">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>sân 11 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san7nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san11nguoi.png" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 120m và tối thiểu 90m, chiều rộng tối đa 90m và tối thiểu 45m. </p>
                                    </div>
                                    <input type="hidden" id="fieldType" name="FieldType" value="5" />
                                    <script type="text/javascript">
                                        $('#fieldtypeselector').bind('DOMSubtreeModified', function () {
                                            $.each($(".room_selector"), function (index, obj) {
                                                if (obj.style.display != "none") {
                                                    $("#fieldType").val($(obj).data("ftype"));
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="span3 home_calendar">
                                    <div class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="startdate">Ngày</label>
                                            <div class="controls">
                                                <input type="text" name="StartDate" id="startdate" class="span2 input-date-collapse" value="@now.ToShortDateString()" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datepicker_from"></div>
                                </div>
                                <div class="span3 home_calendar home_picktime">
                                    <div class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="starttime">Giờ</label>
                                            <div class="controls">
                                                <div class="input-append bootstrap-timepicker">
                                                    <input name="StartTime" id="starttime" type="text" class="span2 input-time-collapse" value="@now.Hour:0" />
                                                    <script type="text/javascript">
                                                        var timepicker = document.getElementById("starttime");
                                                        timepicker.onkeydown = function () {
                                                            return false;
                                                        }
                                                    </script>
                                                    <span class="add-on"><i class="icon-time"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="duration">Thời lượng</label>
                                            <div class="controls">
                                                <select class="select_duration" id="duration" name="Duration" data-cur="1">
                                                    <option value="1">60 phút</option>
                                                    <option value="1.5">90 phút</option>
                                                    <option value="2">120 phút</option>
                                                    <option value="2.5">150 phút</option>
                                                    <option value="3">180 phút</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="city" data-cur="HCM">Tỉnh/TP</label>
                                            <div class="controls">
                                                <select name="City" class="select_city" id="city">
                                                    <option value="HCM">Hồ Chí Minh</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="district">Quận / Huyện</label>
                                            <div class="controls">
                                                <select name="District" class="select_district" id="district" data-cur="Q. 1">
                                                    <option value="Q. 1">Q. 1</option>
                                                    <option value="Q. 2">Q. 2</option>
                                                    <option value="Q. 3">Q. 3</option>
                                                    <option value="Q. 4">Q. 4</option>
                                                    <option value="Q. 5">Q. 5</option>
                                                    <option value="Q. 6">Q. 6</option>
                                                    <option value="Q. 7">Q. 7</option>
                                                    <option value="Q. 8">Q. 8</option>
                                                    <option value="Q. 9">Q. 9</option>
                                                    <option value="Q. 10">Q. 10</option>
                                                    <option value="Q. 11">Q. 11</option>
                                                    <option value="Q. 12">Q. 12</option>
                                                    <option value="Q. Bình Tân">Q. Bình Tân</option>
                                                    <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                                                    <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                                                    <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                                                    <option value="Q. Tân Bình">Q. Tân Bình</option>
                                                    <option value="Q. Tân Phú">Q. Tân Phú</option>
                                                    <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                                                    <option value="H. Bình Chánh">H. Bình Chánh</option>
                                                    <option value="H. Củ Chi">H. Củ Chi</option>
                                                    <option value="H. Hóc Môn">H. Hóc Môn</option>
                                                    <option value="H. Nhà Bè">H. Nhà Bè</option>
                                                    <option value="H. Cần Giờ">H. Cần Giờ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-large home-btn-find pull-right">Tìm Kiếm</button>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('.datepicker_from').datepicker({
                                            dateFormat: 'dd/mm/yy',
                                            showOtherMonths: true,
                                            numberOfMonths: 1,
                                            altField: "#startdate",
                                            altFormat: "dd/mm/yy",
                                            minDate: 0,
                                            onSelect: function (date) {
                                            }
                                        });
                                        $(".datepicker_from").datepicker("setDate", "@now.ToShortDateString()");
                                        $('#starttime').timepicker({
                                            showMeridian: false,
                                            defaultTime: $('#starttime').val(),
                                            minuteStep: 30,
                                            showInputs: false
                                        });
                                        $.each($("select"), function (index, obj) {
                                            $(obj).val($(obj).data("cur"));
                                        });
                                    });
                                </script>

                                <div class="span3">
                                    <p>
                                        Bạn là chủ của 1 sân bóng?
                                    </p>
                                    <p>
                                        Bạn muôn sân bóng của bạn được hỗ trợ?
                                    </p>
                                    <p>
                                        Hãy đến với hệ thống sân trực tuyến của chúng tôi.
                                    </p>
                                    <p>
                                        <a href="/Stadium/JoinUs" class="pull-right" href="#">Yêu cầu hỗ trợ >>></a>
                                    </p>
                                    <div class="span12 logo">
                                        <div class="row">
                                            <div class="span12 logo">
                                                <h1>ĐẶT SÂN BÓNG ĐÁ<span> ONLINE</span></h1>
                                                <p>&#9917;&#9917;&#9917;&#9917;&#9917;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end collapse search -->
<hr />

<div class="row-fluid">
    <div class="span4">
        <h3><span>S</span>ân Bóng</h3>
        @if (Model.Stadiums != null)
        {
            for (int i = 0; i < Model.Stadiums.Count(); i++)
            {
                var item = Model.Stadiums[i];
                var img = Model.StadiumImages[i];
            <div class="stadium-item">
                <div class="stadium-image">
                    @if (img != null)
                    {
                        <img src="~/Content/images/@img.Path" />
                    }
                    else
                    {
                        <img src="~/Content/images/stadium.jpg" />
                    }
                </div>
                <div class="stadium-detail">
                    <p class="stadium-name">@item.Stadium.Name</p>
                    <p class="stadium-address">@item.Stadium.District</p>
                    <p class="field-type">
                        Kiểu Sân: 5, 7, 11
                    <button class="btn btn-primary home-btn-book pull-right">Chi tiết</button>
                    </p>
                </div>
            </div>
                    if (i != Model.Stadiums.Count() -1)
                    {
            <hr />
                    }
            }
        }
        else
        {
            <p>nen login</p>
        }


        <!-- 
        <div class="stadium-item">
            <div class="stadium-image">
                <img src="~/Content/images/stadium.jpg" />
                <span class="promotion">Sân Gần Nhà Bạn</span>
            </div>
            <div class="stadium-detail">
                <p class="stadium-name">Sân FTOWN</p>
                <p class="stadium-address">Quận 12, HCM</p>
                <p class="field-type">
                    Kiểu Sân: 5, 7, 11
                    <button class="btn btn-primary home-btn-book pull-right">Chi tiết</button>
                </p>
            </div>
        </div>
            -->
    </div>
    <div class="span4" style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px; background-color: rgba(128, 128, 128, 0.17);">
        <h3><span>C</span>áp Kèo</h3>
        <div class="rival-item">
            <p class="r-name">Đội Friend</p>
            <p class="r-date">Thời gian: 20h-21h30, 22/02</p>
            <p class="r-sname">Sân FTOWN</p>
            <p class="r-saddr">1 Tô Ký, Phường 1, Quận 9, HCM</p>
            <p class="r-stype">Đá 5 người</p>
            <p class="r-contact">
                Liên hệ: Nguyễn Duy Phương | 01662194419 | phuongnd6592@live.com
                <button class="btn btn-primary home-btn-book pull-right">Tham Gia</button>
            </p>

        </div>
        <hr />
        <div class="rival-item">
            <p class="r-name">Đội Friend</p>
            <p class="r-date">Thời gian: 20h-21h30, 22/02</p>
            <p class="r-sname">Sân FTOWN</p>
            <p class="r-saddr">1 Tô Ký, Phường 1, Quận 9, HCM</p>
            <p class="r-stype">Đá 5 người</p>
            <p class="r-contact">
                Liên hệ: Nguyễn Duy Phương | 01662194419 | phuongnd6592@live.com         
                <button class="btn btn-primary home-btn-book pull-right">Tham Gia</button>
            </p>

        </div>
    </div>
    <div class="span4">
        <h3><span>S</span>ân Khuyến Mãi</h3>
        <div class="stadium-item">
            <div class="stadium-image">
                <img src="~/Content/images/stadium.jpg" />
                <span class="promotion-date"><b class="pull-left">-50%</b> 10h - 16h Từ 1/1 đến 2/1/2014</span>
            </div>
            <div class="stadium-detail">
                <p class="stadium-name">Sân FTOWN</p>
                <p class="stadium-address">Quận 12, HCM</p>
                <p class="field-type">
                    Kiểu Sân Khuyến Mãi: 5, 7, 11
                    <button class="btn btn-primary home-btn-book pull-right">Chi tiết</button>
                </p>
            </div>
        </div>
        <hr />
        <div class="stadium-item">
            <div class="stadium-image">
                <img src="~/Content/images/stadium.jpg" />
                <span class="promotion-date"><b class="pull-left">-50%</b> 10h - 16h Từ 1/1 đến 2/1/2014</span>
            </div>
            <div class="stadium-detail">
                <p class="stadium-name">Sân FTOWN</p>
                <p class="stadium-address">Quận 12, HCM</p>
                <p class="field-type">
                    Kiểu Sân Khuyến Mãi: 5, 7, 11
                    <button class="btn btn-primary home-btn-book pull-right">Chi tiết</button>
                </p>
            </div>
        </div>
    </div>
</div>
