@model FootballPitchesBooking.Models.StadiumModels.StadiumModel
@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "Sân Bóng";
}

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var content = $("#UserReviewContent").val();

        if (content.length < 10) {
            $("#ReviewContent_Error").text("Yêu cầu đánh giá nhiều hơn 10 ký tự");
            $("#ReviewContent_Error").css("display", "block");
            flag++;

        }
        else {
            $("#ReviewContent_Error").text(" ");
            $("#ReviewContent_Error").css("display", "none");
        }


        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

<div class="row stadium-details">
    <div class="span12">
        <div class="span5 no-margin stadium-side-panel">
            <div class="stadium-image-slide">
                <div class="image-show">
                    @if (Model.Images != null && Model.Images.Count > 0)
                    { 
                        <img name="StadiumImage" src="~/Content/images/@Model.Images[0].Path" alt="@Model.Images[0].Title"/>
                    }
                    else
                    {
                        <img src="~/Content/images/no-image.jpg" style="width: 250px;" />
                    }
                </div>
                <div class="image-list">
                    @if (Model.Images != null && Model.Images.Count > 0)
                    {
                        <ul>
                            @for (int i = 0; i < Model.Images.Count; i++)
                            {
                                <li>
                                    <img id="@string.Concat("ImgThumbs", i)" src="~/Content/images/@Model.Images[i].Path" alt="@Model.Images[i].Title" onclick="clickImg(this)"/>
                                </li>
                            }
                        </ul>
                        <script type="text/javascript">
                            function clickImg(img) {
                                document.images.StadiumImage.src = img.src;
                                document.images.StadiumImage.alt = img.alt;
                            }
                        </script>

                    }
                </div>
            </div>
        </div>
        <div class="span7 stadium-info">
            <div class="span7 no-margin stadium-main-info">
                <p>
                    <h1>@Model.Stadium.Name</h1>
                </p>
                <p>ĐỊA CHỈ: <b>@Model.Stadium.Street, @Model.Stadium.Ward, @Model.Stadium.District</b></p>
                <p>ĐIỆN THOẠI: <b>@Model.Stadium.Phone</b></p>
                <p class="rating-point">
                    <label>ĐÁNH GIÁ:</label>
                    <label>
                        @for (int p = 1; p <= ((int)Model.Rate); p++)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@p">
                                <img src="~/Content/images/rating-star/100.png" /></a>
                        }
                        @if (Model.Rate - (int)Model.Rate >= 0.75)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@((int)Model.Rate + 1)">
                                <img src="~/Content/images/rating-star/75.png" /></a>
                        }
                        else if (Model.Rate - (int)Model.Rate >= 0.50)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@((int)Model.Rate + 1)">
                                <img src="~/Content/images/rating-star/50.png" /></a>
                        }
                        else if (Model.Rate - (int)Model.Rate >= 0.25)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@((int)Model.Rate + 1)">
                                <img src="~/Content/images/rating-star/25.png" /></a>
                        }
                        else if (Model.Rate - (int)Model.Rate >= 0.00 && Model.Rate < 5)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@((int)Model.Rate + 1)">
                                <img src="~/Content/images/rating-star/00.png" /></a>
                        }
                        @for (int p = ((int)Model.Rate + 2); p <= 5; p++)
                        {
                            <a href="~/Stadium/Rate?Stadium=@Model.Stadium.Id&Point=@p">
                                <img src="~/Content/images/rating-star/00.png" /></a>
                        }
                    </label>
                    <label><b style="color: red; font-size: 16px; line-height: 12px;">@Model.Rate.ToString("0.0")</b>/@Model.RateCount phiếu bầu</label>
                </p>
                <p>
                    <a href="/Stadium/Book?Stadium=@Model.Stadium.Id">
                        <button class="btn-medium btn-success">Đặt sân</button></a>
                </p>
            </div>
            <div class="span7 no-margin">
                <ul class="details-menu">
                    <li class="active"><a href="#prices" data-toggle="tab">BẢNG GIÁ</a></li>
                    <li><a href="#reviews" data-toggle="tab">NHẬN XÉT</a></li>
                    <li><a href="#images" data-toggle="tab">HÌNH ẢNH</a></li>
                </ul>
                <script type="text/javascript">
                    $(function () {
                        $('a[data-toggle="tab"]').click(function (e) {
                            var activeTab = $(e.target).attr('href');
                            if (activeTab) {
                                $('ul.details-menu').children().removeClass('active');
                                $('a[href=' + activeTab + ']').parents('li:first').addClass('active');
                                $('div.stadium-details-info').children().addClass('hide');
                                $(activeTab).removeClass('hide');
                            }
                        });
                    });
                </script>
                <div class="span7 no-margin stadium-details-info">
                    <div class="details-info stadium-prices" id="prices">
                        @if (Model.Prices != null && Model.Prices.Count > 0)
                        {
                            <table class="table table-condensed table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>TÊN BẢNG GIÁ</th>
                                        <th>MÔ TẢ</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Prices)
                                    {
                                        <tr>
                                            <td>@item.FieldPriceName</td>
                                            <td>@item.FieldPriceDescription</td>
                                            <td class="table-cell-action"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <h5>Hệ thống sân này hiện tại chưa có bảng giá nào</h5>
                        }
                    </div>
                    <div class="details-info stadium-reviews hide" id="reviews">
                        <div class="user-review">
                            <div class="user_avatar">
                                <img src="~/Content/images/user_avatar.gif" />
                            </div>
                            <div class="content">
                                <form action="~/Stadium/Review?stadium=@Model.Stadium.Id" method="post">
                                    <p>
                                        <a href="~/Account/Details"><b>@User.Identity.Name</b></a>
                                    </p>
                                    <p>
                                        <textarea name="UserReviewContent" id="UserReviewContent" style="width: 420px; min-height: 50px;"></textarea>
                                        <div class="alert alert-danger" id="ReviewContent_Error" style="display: none"></div>
                                        <button type="submit" class="btn-small btn-success pull-right" onclick="return check()">Gửi đánh giá</button>
                                    </p>

                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#UserReviewContent').autosize();
                                        });
                                    </script>
                                </form>
                            </div>
                        </div>
                        @if (Model.Reviews != null && Model.Reviews.Count > 0)
                        {
                            foreach (var item in Model.Reviews)
                            {
                            <div class="user-review">
                                <div class="user_avatar">
                                    <img src="~/Content/images/user_avatar.gif" />
                                </div>
                                <div class="content">
                                    <p>
                                        @if (item.User.Role.Role1.Equals("BannedMember"))
                                        {
                                            <a href="~/Account/Details?id=@item.User.Id" style="color: #000;"><b>@item.User.UserName</b></a>
                                        }
                                        else
                                        {
                                            <a href="~/Account/Details?id=@item.User.Id"><b>@item.User.UserName</b></a>
                                        }
                                        <label style="display: inline; margin-left: 20px; font-size: 10px; color: #888888;">@item.CreateDate.ToString("dd/MM/yyyy HH:mm")</label>
                                    </p>
                                    <p>@item.ReviewContent</p>
                                </div>
                            </div>
                            }
                        }
                    </div>
                    <div class="details-info stadium-image-list hide" id="images">
                        @if (Model.Images != null && Model.Images.Count > 0)
                        {
                            foreach (var item in Model.Images)
                            {
                            <p>
                                <img src="~/Content/images/@item.Path" alt="@item.Title" style="max-width: 510px; height: auto;" />
                                <label>@item.Caption</label>
                            </p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
