@model FootballPitchesBooking.Models.StadiumModels.QuickSearchModel
@{
    ViewBag.QUICKSEARCH = "active";
    ViewBag.Title = "Tìm Sân Nhanh";
    var field5 = "none";
    var field7 = "none";
    var field11 = "none";
    if (Model.FieldType.Equals("5"))
    {
        field5 = "block";
    }
    else if (Model.FieldType.Equals("7"))
    {
        field7 = "block";
    }
    else
    {
        field11 = "block";
    }
}
@if (Model.Results == null || Model.Results.Count() == 0)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#collapseTwo").collapse('show');
        });
    </script>
}
<div class="row-fluid" id="findavailablesection">
    <div class="span12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">&#9917; tìm sân nhanh 
                            <span class="glyphicon glyphicon-collapse-down pull-right"></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h5><span class="special-font" style="font-weight: bold">chọn kiểu sân, ngày giờ và địa điểm</span></h5>
                        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">
                                @Model.ErrorMessage
                            </div>
                        }
                        <form method="post" action="/Stadium/QuickSearch" class="form-inline">
                            <div class="row-fluid home">
                                <div id="fieldtypeselector" class="span3">
                                    <div class="room_selector" data-ftype="5" style="display: @field5;">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left"><i class="icon-chevron-left"></i></a>Sân 5 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san5nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san5nguoi.jpg" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 42m và tối thiểu 25m, chiều rộng tối đa 25m và tối thiểu 15m.</p>
                                    </div>
                                    <div class="room_selector" data-ftype="7" style="display: @field7;">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Sân 7 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san7nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san7nguoi.jpg" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 75m và tối thiểu 50m, chiều rộng tối đa 40m và tối thiểu 55m.</p>
                                    </div>
                                    <div class="room_selector" data-ftype="11" style="display: @field11;">
                                        <h5 style="text-transform: none"><a href="#" class="pull-left "><i class="icon-chevron-left"></i></a>Sân 11 người<a href="#" class="pull-right "><i class="icon-chevron-right"></i></a></h5>
                                        <a href="/Content/css/images/stadiums/san7nguoi.jpg">
                                            <img src="/Content/css/images/stadiums/san11nguoi.png" alt="" /></a>
                                        <p>Sân hình chữ nhật, chiều dài tối đa 120m và tối thiểu 90m, chiều rộng tối đa 90m và tối thiểu 45m. </p>
                                    </div>
                                    <input type="hidden" id="fieldType" name="FieldType" value="@Model.FieldType" />
                                    <script type="text/javascript">
                                        $('#fieldtypeselector').bind('DOMSubtreeModified', function () {
                                            $.each($(".room_selector"), function (index, obj) {
                                                if (obj.style.display != "none") {
                                                    $("#fieldType").val($(obj).data("ftype"));
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                                <div class="span3 home_calendar">
                                    <div class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="startdate">Ngày</label>
                                            <div class="controls">
                                                <input type="text" name="StartDate" id="startdate" class="span2 input-date-collapse" value="@Model.Date" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datepicker_from"></div>
                                </div>
                                <div class="span3 home_calendar home_picktime">
                                    <div class="form-horizontal">
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="starttime">Giờ</label>
                                            <div class="controls">
                                                <div class="input-append bootstrap-timepicker">
                                                    <input name="StartTime" id="starttime" type="text" class="span2 input-time-collapse" value="@Model.StartTime" />
                                                    <script type="text/javascript">
                                                        var timepicker = document.getElementById("starttime");
                                                        timepicker.onkeydown = function () {
                                                            return false;
                                                        }
                                                    </script>
                                                    <span class="add-on"><i class="icon-time"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="duration">Thời lượng</label>
                                            <div class="controls">
                                                <select class="select_duration" id="duration" name="Duration" data-cur="@Model.Duration">
                                                    <option value="1">60 phút</option>
                                                    <option value="1.5">90 phút</option>
                                                    <option value="2">120 phút</option>
                                                    <option value="2.5">150 phút</option>
                                                    <option value="3">180 phút</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label pull-left" for="district">Quận / Huyện</label>
                                            <div class="controls">
                                                <select name="District" class="select_district" id="district" data-cur="@Model.District">
                                                    <option value="">Tất cả</option>
                                                    <option value="Q. 1">Q. 1</option>
                                                    <option value="Q. 2">Q. 2</option>
                                                    <option value="Q. 3">Q. 3</option>
                                                    <option value="Q. 4">Q. 4</option>
                                                    <option value="Q. 5">Q. 5</option>
                                                    <option value="Q. 6">Q. 6</option>
                                                    <option value="Q. 7">Q. 7</option>
                                                    <option value="Q. 8">Q. 8</option>
                                                    <option value="Q. 9">Q. 9</option>
                                                    <option value="Q. 10">Q. 10</option>
                                                    <option value="Q. 11">Q. 11</option>
                                                    <option value="Q. 12">Q. 12</option>
                                                    <option value="Q. Bình Tân">Q. Bình Tân</option>
                                                    <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                                                    <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                                                    <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                                                    <option value="Q. Tân Bình">Q. Tân Bình</option>
                                                    <option value="Q. Tân Phú">Q. Tân Phú</option>
                                                    <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                                                    <option value="H. Bình Chánh">H. Bình Chánh</option>
                                                    <option value="H. Củ Chi">H. Củ Chi</option>
                                                    <option value="H. Hóc Môn">H. Hóc Môn</option>
                                                    <option value="H. Nhà Bè">H. Nhà Bè</option>
                                                    <option value="H. Cần Giờ">H. Cần Giờ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-large home-btn-find pull-right">Tìm kiếm</button>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $('.datepicker_from').datepicker({
                                            dateFormat: 'dd/mm/yy',
                                            showOtherMonths: true,
                                            numberOfMonths: 1,
                                            altField: "#startdate",
                                            altFormat: "dd/mm/yy",
                                            minDate: 0,
                                            onSelect: function (date) {
                                            }
                                        });
                                        $(".datepicker_from").datepicker("setDate", "@Model.Date");
                                        $('#starttime').timepicker({
                                            showMeridian: false,
                                            defaultTime: $('#starttime').val(),
                                            minuteStep: 30,
                                            showInputs: false
                                        });
                                        $.each($("select"), function (index, obj) {
                                            $(obj).val($(obj).data("cur"));
                                        });
                                    });
                                </script>

                                <div class="span3">
                                    <p>
                                        Bạn là chủ của 1 sân bóng?
                                    </p>
                                    <p>
                                        Bạn muôn sân bóng của bạn được hỗ trợ?
                                    </p>
                                    <p>
                                        Hãy đến với hệ thống sân trực tuyến của chúng tôi.
                                    </p>
                                    <p>
                                        <a href="/Stadium/JoinUs" class="pull-right">Yêu cầu hỗ trợ >>></a>
                                    </p>
                                    <div class="span12 logo">
                                        <div class="row">
                                            <div class="span12 logo">
                                                <h1>ĐẶT SÂN BÓNG ĐÁ<span> ONLINE</span></h1>
                                                <p>&#9917;&#9917;&#9917;&#9917;&#9917;</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(Model.SearchResultString))
{
    <h5 style="text-transform: none; font-size: 18px;" class="alert">@Model.SearchResultString</h5>
}
@if (Model.Results != null && Model.Results.Count() != 0)
{
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>Tên sân</th>
                <th>Địa chỉ</th>
                <th>Bảng giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>@item.Stadium.Name</td>
                    <td>@item.Stadium.Street, @item.Stadium.Ward, @item.Stadium.District</td>
                    <td>

                        @for (int i = 0; i < item.Fields.Count(); i++)
                        {
                            <p>- Sân Số @item.Fields[i].Number - Giá @item.Prices[i] VNĐ - Giảm @item.Discounts[i] VNĐ</p>
                        }
                    </td>
                    <td class="table-cell-action">
                        <button type="button" onclick="book(@item.Stadium.Id)" class="btn-small btn-success">Đặt</button>
                        <button type="button" class="btn-small btn-primary" onclick="window.location='/Stadium/Details?Id=@item.Stadium.Id'">Chi tiết sân</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script type="text/javascript">
        function book(id) {
            var bookForm = document.createElement("form");
            bookForm.action = "/Stadium/Book";
            bookForm.method = "get";
            var stadiumId = document.createElement("input");
            stadiumId.type = "text";
            stadiumId.name = "Stadium";
            stadiumId.value = id;
            var date = document.createElement("input");
            date.type = "text";
            date.name = "StartDate";
            date.value = "@Model.Date";
            var startTime = document.createElement("input");
            startTime.type = "text";
            startTime.name = "StartTime";
            startTime.value = "@Model.StartTime";
            var duration = document.createElement("input");
            duration.type = "text";
            duration.name = "Duration";
            duration.value = "@Model.Duration";
            var fieldType = document.createElement("input");
            fieldType.type = "text";
            fieldType.name = "FieldType";
            fieldType.value = "@Model.FieldType";
            bookForm.appendChild(stadiumId);
            bookForm.appendChild(date);
            bookForm.appendChild(startTime);
            bookForm.appendChild(duration);
            bookForm.appendChild(fieldType);
            document.body.appendChild(bookForm);
            bookForm.submit();
        }
    </script>
}