@model FootballPitchesBooking.Models.StadiumStaffModels.ReservationModel
@{
    ViewBag.RESERVATION = "active";
    ViewBag.Title = "Chỉnh Sửa Thông Tin Đơn Đặt Sân";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var date = $("input[name=Date]").val();
        var startTime = $("input[name=StartTime]").val();
        var fullname = $("input[name=FullName]").val();
        var email = $("input[name=Email]").val();
        var phone = $("input[name=PhoneNumber]").val();
        var needRival = $('#NeedRival').val();
        var rivalStatus = $("#RivalStatus").val();
        var rivalName = $("input[name=RivalName]").val();
        var rivalemail = $("input[name=RivalEmail]").val();
        var rivalphone = $("input[name=RivalPhone]").val();
        var reg = /^(\w+[\.])*\w+@@(\w+\.)+[a-zA-Z]+$/;
        var aln = /^[a-z|A-Z|0-9]*$/;
        var address = $("#txtAddress").val();
        var add = /^[a-zA-Z0-9-\/] ?([a-zA-Z0-9-\/]|[a-zA-Z0-9-\/] )*[a-zA-Z0-9-\/]$/;


        if (date == "") {
            $("#Date_Error").append("Xin vui lòng chọn ngày đặt sân");
            $("#Date_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Date_Error").text(" ");
            $("#Date_Error").css("display", "none");
        }

        if (startTime == "") {
            $("#StartTime_Error").append("Xin vui lòng chọn giờ đặt sân");
            $("#StartTime_Error").css("display", "block");
            flag++;
        }
        else {
            $("#StartTime_Error").text(" ");
            $("#StartTime_Error").css("display", "none");
        }

        if (fullname == "" || fullname.length > 30) {
            $("#FullName_Error").text("Yêu cầu phải từ 1 đến 30 kí tự");
            $("#FullName_Error").css("display", "block");
            flag++;

        }
        else {
            $("#FullName_Error").text(" ");
            $("#FullName_Error").css("display", "none");
        }

        if (!reg.test(email) && email.length > 0) {
            $("#Email_Error").text("Email không đúng");
            $("#Email_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Email_Error").text(" ");
            $("#Email_Error").css("display", "none");
        }

        if (phone == "" || phone.length < 10 || phone.length > 11) {
            $("#PhoneNumber_Error").text("Yêu cầu phải nhập đúng số điện thoại");
            $("#PhoneNumber_Error").css("display", "block");
            flag++;

        }
        else {
            $("#PhoneNumber_Error").text(" ");
            $("#PhoneNumber_Error").css("display", "none");
        }

        if (needRival == 'True') {
            if (rivalStatus == 'Waiting') {
                if (rivalName.length > 0) {
                    $("#RivalName_Error").text("Để trống nếu đang chờ đối thủ");
                    $("#RivalName_Error").css("display", "block");
                    flag++;

                }
                else {
                    $("#RivalName_Error").text(" ");
                    $("#RivalName_Error").css("display", "none");
                }

                if (rivalemail.length > 0) {
                    $("#RivalEmail_Error").text("Để trống nếu đang chờ đối thủ");
                    $("#RivalEmail_Error").css("display", "block");
                    flag++;
                }
                else {
                    $("#RivalEmail_Error").text(" ");
                    $("#RivalEmail_Error").css("display", "none");
                }

                if (rivalphone.length > 0) {
                    $("#RivalPhone_Error").text("Để trống nếu đang chờ đối thủ");
                    $("#RivalPhone_Error").css("display", "block");
                    flag++;

                }
                else {
                    $("#RivalPhone_Error").text(" ");
                    $("#RivalPhone_Error").css("display", "none");
                }
            }
            else {
                if (rivalName.length > 30 && rivalName.length < 1) {
                    $("#RivalName_Error").text("Yêu cầu phải từ 1 đến 30 kí tự");
                    $("#RivalName_Error").css("display", "block");
                    flag++;

                }
                else {
                    $("#RivalName_Error").text(" ");
                    $("#RivalName_Error").css("display", "none");
                }

                if (rivalemail.length > 0 && !reg.test(rivalemail)) {
                    $("#RivalEmail_Error").text("Email không đúng");
                    $("#RivalEmail_Error").css("display", "block");
                    flag++;
                }
                else {
                    $("#RivalEmail_Error").text(" ");
                    $("#RivalEmail_Error").css("display", "none");
                }

                if (rivalphone.length < 10 || rivalphone.length > 11) {
                    $("#RivalPhone_Error").text("Yêu cầu phải nhập đúng số điện thoại");
                    $("#RivalPhone_Error").css("display", "block");
                    flag++;

                }
                else {
                    $("#RivalPhone_Error").text(" ");
                    $("#RivalPhone_Error").css("display", "none");
                }
            }
        }

        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

<div class="row stadiumstaff-edit-reservation">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="EditReservation?Id=@Request.QueryString["id"]" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <fieldset>
                        <br />
                        <h1>CHỈNH SỬA THÔNG TIN ĐƠN ĐẶT SÂN</h1>
                        <br />
                        @if (Model.ErrorMessages != null && Model.ErrorMessages.Count() > 0)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <p>- @error</p>
                                }
                            </div>
                        }
                        <div class="row">
                            <div class="span9">
                                <h4>THÔNG TIN ĐẶT SÂN</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    SỐ SÂN
                                    <select id="Fields" name="Fields" data-cur="@Model.FieldId">
                                        @if (Model.Fields != null && Model.Fields.Count() > 0)
                                        {
                                            foreach (var item in Model.Fields)
                                            {
                                                if (item.IsActive)
                                                {
                                            <option value="@item.Id">@item.Number</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#Fields").val($("#Fields").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                            <div class="span6">
                                <label>
                                    HỆ THỐNG SÂN <b>@Model.StadiumName.ToUpper()</b>
                                    <input style="width: 450px;" name="Stadium" id="Stadium" type="text" value="@Model.StadiumAddress" disabled="disabled">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    NGÀY ĐẶT
                                    <input name="Date" id="Date" type="text" placeholder="Ngày đặt sân" required="required" value="@Model.Date.ToString("dd/MM/yyyy")">
                                    <script>
                                        $('#Date').datepicker({
                                            format: "dd/mm/yyyy",
                                            language: "vi"
                                        });
                                    </script>
                                    <div class="alert alert-danger" id="Date_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    GIỜ ĐẶT
                                    <div class="input-append bootstrap-timepicker">
                                        <input name="StartTime" id="startTime" type="text" class="span2 input-time-collapse" value="@((int)Model.StartTime):@(((int)(Model.StartTime - (int)Model.StartTime) * 60).ToString("00"))" />
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $('#startTime').timepicker({
                                                    showMeridian: false,
                                                    defaultTime: $('#startTime').val(),
                                                    minuteStep: 30,
                                                    showInputs: false
                                                });
                                                var timepicker = document.getElementById("startTime");
                                                timepicker.onkeydown = function () {
                                                    return false;
                                                }
                                            });
                                        </script>
                                        <span class="add-on"><i class="icon-time"></i></span>
                                    </div>
                                    <div class="alert alert-danger" id="StartTime_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    THỜI LƯỢNG
                                    <select id="duration" name="Duration" data-cur="@Model.Duration">
                                        <option value="1">60 phút</option>
                                        <option value="1.5">90 phút</option>
                                        <option value="2">120 phút</option>
                                        <option value="2.5">150 phút</option>
                                        <option value="3">180 phút</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#duration").val($("#duration").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <h4>THÔNG TIN KHÁCH HÀNG</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    TÊN ĐẦY ĐỦ
                                    <input name="FullName" type="text" placeholder="Tên đầy đủ" required="required" value="@Model.FullName">
                                    <div class="alert alert-danger" id="FullName_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    SỐ ĐIỆN THOẠI
                                    <input name="PhoneNumber" id="phoneNumber" type="text" placeholder="Số điện thoại" required="required" value="@Model.PhoneNumber">
                                    <script type="text/javascript">
                                        $('#phoneNumber').keyup(function (event) {
                                            if (isNaN(String.fromCharCode(event.which))) {
                                                var value = $(this).val();
                                                $(this).val(value.substr(0, value.length - 1));
                                            }
                                        });
                                    </script>
                                    <div class="alert alert-danger" id="PhoneNumber_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    EMAIL
                                    <input name="Email" type="text" placeholder="Email" value="@Model.Email">
                                    <div class="alert alert-danger" id="Email_Error" style="display: none"></div>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                <label>
                                    CẦN ĐỐI THỦ
                                    <select id="HasRival" name="NeedRival" data-cur="@Model.NeedRival">
                                        <option value="False">Không</option>
                                        <option value="True">Có</option>
                                    </select>

                                </label>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#HasRival").val($("#HasRival").data("cur"));
                                    });

                                    $(document).ready(function () {
                                        if ($('#HasRival').val() == 'True') {
                                            $('#RivalInfo').show();
                                        }
                                        else {
                                            $('#RivalInfo').hide();
                                        }
                                        $('#HasRival').change(function () {
                                            if ($(this).val() == 'True') {
                                                $('#RivalInfo').show();
                                            }
                                            else {
                                                $('#RivalInfo').hide();
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="span3">
                                <label>
                                    TRẠNG THÁI
                                    <select id="Status" name="Status" data-cur="@Model.Status">
                                        <option value="Approved">Đã xác nhận</option>
                                        <option value="Denied">Bị từ chối</option>
                                        <option value="Pending">Đang chờ xét</option>
                                        <option value="Canceled">Đã bị huỷ</option>
                                    </select>
                                </label>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#Status").val($("#Status").data("cur"));
                                    });
                                </script>
                            </div>
                        </div>
                        <div id="RivalInfo" class="row">
                            <div class="span9">
                                <h4>THÔNG TIN ĐỐI THỦ</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    TÊN ĐẦY ĐỦ
                                    <input name="RivalName" type="text" placeholder="Tên đầy đủ" value="@Model.RivalName">
                                    <div class="alert alert-danger" id="RivalName_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    SỐ ĐIỆN THOẠI
                                    <input name="RivalPhone" id="rivalPhone" type="text" placeholder="Số điện thoại" value="@Model.RivalPhone">
                                    <script type="text/javascript">
                                        $('#rivalPhone').keyup(function (event) {
                                            if (isNaN(String.fromCharCode(event.which))) {
                                                var value = $(this).val();
                                                $(this).val(value.substr(0, value.length - 1));
                                            }
                                        });
                                    </script>
                                    <div class="alert alert-danger" id="RivalPhone_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    EMAIL
                                    <input name="RivalEmail" type="text" placeholder="Email" value="@Model.RivalEmail">
                                    <div class="alert alert-danger" id="RivalEmail_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    TRẠNG THÁI
                                    <select id="RivalStatus" name="RivalStatus" data-cur="@Model.RivalStatus">
                                        <option value="Approved">Đã xác nhận</option>
                                        <option value="Pending">Đang chờ xét</option>
                                        <option value="Waiting" selected="selected">Đang chờ</option>
                                    </select>
                                </label>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        var rivalStatus = $("#RivalStatus").data("cur");
                                        if (rivalStatus) {
                                            $("#RivalStatus").val(rivalStatus);
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <p>
                                    <button class="btn btn-primary book-now groupbtn" type="submit" name="Save" onclick="return check()">Lưu</button>
                                    <button class="btn btn-primary book-now groupbtn" type="button" onclick="window.location = '/StadiumStaff/Reservations/@Model.Fields.FirstOrDefault().StadiumId'">Hủy bỏ</button>
                                </p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
