@model FootballPitchesBooking.Models.StadiumStaffModels.FieldPricesModel
@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "Quản Lý Bảng Giá";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}
@if (Model.HavePermission)
{
    <h2>QUẢN LÝ BẢNG GIÁ</h2>
    <h4>HỆ THỐNG SÂN <a href="/StadiumStaff/Fields?Stadium=@Model.StadiumId">@Model.StadiumName</a> : <i>@Model.StadiumAddress</i></h4>
    
    <p>
        <a href="/StadiumStaff/AddFieldPrices?Stadium=@Model.StadiumId">
            <button class="btn-success">Thêm bảng giá</button>
        </a>
    </p>
    if (!string.IsNullOrEmpty((string)TempData["Error"]))
    {
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
    }
    else if (!string.IsNullOrEmpty((string)TempData["Success"]))
    {
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
    }
    if (Model.PriceTables != null && Model.PriceTables.Count != 0)
    {
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>TÊN BẢNG GIÁ</th>
                <th>MÔ TẢ</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PriceTables)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td class="table-cell-action"><a href="/StadiumStaff/EditFieldPrices?Id=@item.Id">Chi Tiết</a> | <a href="/StadiumStaff/DeleteFieldPrice?Id=@item.Id">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
    <h5>Hệ thống sân này hiện tại chưa có bảng giá nào</h5>
    }
}
else
{
    <h3>@Model.ErrorMessage</h3>
}