@model FootballPitchesBooking.Models.StadiumStaffModels.PromotionsModel
@{
    ViewBag.PROMOTION = "active";
    ViewBag.Title = "Quản lý khuyến mãi";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}

@if (Model.HavePermission)
{
    <h1>QUẢN LÝ KHUYẾN MÃI</h1>
    <h4>HỆ THỐNG SÂN <a href="/StadiumStaff/Fields?Stadium=@Model.StadiumId">@Model.StadiumName</a> : <i>@Model.StadiumAddress</i></h4>
    
    <br />
    <a href="/StadiumStaff/AddPromotion?Stadium=@Model.StadiumId"><button class="btn btn-primary btn-large book-now groupbtn">THÊM KHUYẾN MÃI</button></a>
    <br />
    <br />
    
    if (Model.Promotions != null && Model.Promotions.Count > 0)
    {
    <table class="table table-condensed table-bordered table-hover">
        <thead>
            <tr>
                <th>SỐ SÂN</th>
                <th>THỜI GIAN KHUYẾN MÃI</th>
                <th>GIẢM GIÁ</th>
                <th>TRẠNG THÁI HOẠT ĐỘNG</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Promotions)
            {
                <tr>
                    <td>@item.Field.Number</td>
                    <td>@item.PromotionFrom.ToString("dd/MM/yyyy") - @item.PromotionTo.ToString("dd/MM/yyyy")</td>
                    <td>@item.Discount</td>
                    @if (item.IsActive)
                    {
                        <td>Đang Hoạt Động</td>
                    }
                    else
                    {
                        <td>Không Hoạt Động</td>
                    }
                    <td class="table-cell-action"><a href="/StadiumStaff/EditPromotion?Id=@item.Id">Chỉnh Sửa</a></td>
                </tr>
            }
        </tbody>
    </table>
    }
    else
    {
        <h3>Hiện tại không có khuyến mãi nào cho sân bóng này.</h3>
    }
}
else
{
    <h3>@Model.ErrorMessage</h3>
}