@model FootballPitchesBooking.Models.StadiumStaffModels.ReservationsModel

@{
    ViewBag.RESERVATION = "active";
    ViewBag.Title = "Quản lý đơn đặt sân";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}
<div class="row">
    @if (Model.HavePermission)
    {
        <div class="span12">
            <h1>QUẢN LÝ ĐƠN ĐẶT SÂN</h1>
            <h4>HỆ THỐNG SÂN <a href="/Stadium/Details?id=@Model.Stadium.Id">@Model.Stadium.Name</a> : <i>@Model.Stadium.Street, @Model.Stadium.Ward, @Model.Stadium.District</i></h4>
            <br />
            <div class="span3 no-margin">
                @if (Model.Stadiums.Count() > 0)
                {
                    <table class="table table-condensed table-bordered table-hover">
                        <tbody>
                            @foreach (var item in Model.Stadiums)
                            {
                                <tr>
                                    <td><a href="/StadiumStaff/Reservations?Stadium=@item.Id">@item.Name</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="span9">
                @if (Model.FieldCount > 0)
                {
                    <a href="/StadiumStaff/AddReservation?Stadium=@Model.Stadium.Id">
                    <button class="btn btn-primary btn-large book-now groupbtn no-margin">Thêm đơn đặt sân</button></a>
                    <br />
                    <br />
                }
                else
                {
                    <p>Bạn cần thêm sân con cho sân bóng trước khi tạo đơn đặt sân.</p>
                }

                @if (Model.Reservations != null && Model.Reservations.Count > 0)
                {
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>TÊN KHÁCH HÀNG</th>
                                <th>SỐ ĐIỆN THOẠI</th>
                                <th>SỐ SÂN</th>
                                <th>THỜI GIAN ĐẶT SÂN</th>
                                <th>THỜI LƯỢNG</th>
                                <th>TRẠNG THÁI</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Reservations)
                            {
                                <tr>
                                    <td>@item.FullName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Field.Number</td>
                                    <td>
                                        @((int)item.StartTime):@(((int)(item.StartTime - (int)item.StartTime) * 60).ToString("00")) - @item.Date.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @(item.Duration * 60) phút
                                    </td>
                                    @if (item.Status == "Approved")
                                    {
                                        <td>Đã xác nhận</td>
                                    }
                                    else if (item.Status == "Denied")
                                    {
                                        <td>Bị từ chối</td>
                                    }
                                    else if (item.Status == "Pending")
                                    {
                                        <td>Đang chờ xét</td>
                                    }
                                    else if (item.Status == "Canceled")
                                    {
                                        <td>Đã bị huỷ</td>
                                    }
                                    <td class="table-cell-action"><a href="/StadiumStaff/ViewReservation?Id=@item.Id">Chi tiết</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Hiện tại không có đơn đặt sân nào cho sân bóng này.</p>
                }
            </div>
        </div>
   
    }
    else
    {
        <h3>@Model.ErrorMessage</h3>
    }
</div>
