@model List<FootballPitchesBooking.Models.Stadium>
@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "Stadiums";
    Layout = "~/Views/Shared/_StadiumStaffLayout.cshtml";
}
<h2>QUẢN LÝ SÂN BÓNG</h2>
<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>TÊN SÂN BÓNG</th>
            <th>ĐỊA CHỈ</th>
             <th>NGÀY HẾT HẠN</th>
            <th>TRẠNG THÁI</th>
            <th></th>
        </tr>
        <tr>
            <th>TÊN SÂN BÓNG</th>
            <th>ĐỊA CHỈ</th>
             <th>NGÀY HẾT HẠN</th>
            <th>TRẠNG THÁI</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string cssClass = item.IsActive ? "activerow" : "inactiverow";
            <tr class="@cssClass">
                <td>@item.Name</td>
                <td>@item.Street, @item.Ward, @item.District</td>
                <td>@item.ExpiredDate.ToShortDateString()</td>
                @if (item.IsActive)
                {
                    <td>Đang hoạt động</td>
                }
                else
                {
                    <td>Không hoạt động</td>
                }
                <td class="table-cell-action"><a href="/StadiumStaff/EditStadium?Id=@item.Id">Chỉnh sửa</a> | <a href="/StadiumStaff/Fields?Stadium=@item.Id">Sân con</a> | <a href="/StadiumStaff/FieldPrices?Stadium=@item.Id">Bảng giá</a></td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $('table').dataTable({
            aoColumnDefs: [
              {
                  bSortable: false,
                  aTargets: [-1]
              }
            ],
            "aaSorting": []
        }).columnFilter({
            sPlaceHolder: "head:after",
            aoColumns: [
                { type: "text" },
                { type: "text" },
                { type: "date-range" },
                { type: "select", values: ['Đang hoạt động', 'Không hoạt động'] },
                null
            ]
        });
    });
</script>
<br />
<br />
<br />