@using PagedList.Mvc;
@using PagedList;
@using FootballPitchesBooking.Models;

<div id="list">
    <div>
        <table class="table table-condensed table-bordered table-hover" >
            <tr>
                <th style="vertical-align: middle; width: 50px">
                    No.
                </th>
                <th style="vertical-align: middle">
                    Họ và tên
                </th>
                <th style="vertical-align: middle">
                    Tên đăng nhập
                </th>
                <th style="vertical-align: middle; width: 50px">
                    Quyền hạn
                </th>
                
            </tr>
            @{
                var row = 0;
                foreach (var user in ViewBag.onePageOfUsers as IEnumerable<User>)
                {
                      
                    row++;
                    <tr id="row_@row">
                        <td>
                            @{
                                var noList = ViewBag.NoList as List<NoModel>;
                                var no = noList.FirstOrDefault(n => n.Id == user.Id).No;
                                <span style="word-wrap: break-word">@no</span>
                            }
                        </td>
                        <td>
                            <span style="word-wrap: break-word"><a href="/WebsiteStaff/EditUser?Id=@user.Id">@user.FullName</a></span>
                        </td>
                        <td>
                            <span style="word-wrap: break-word">@Html.DisplayFor(model => user.UserName)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(item => user.Role.DisplayName)
                        </td>
                        
                        @if (!user.IsActive)
                        {
                            <script>
                                $("#row_@row").addClass("deactivated_item");
                            </script>
                        }
                    </tr>
                }
            }
        </table>
    </div>
    @Html.PagedListPager((IPagedList)ViewBag.onePageOfUsers, page => Url.Action("Index", new { page, sort = @ViewBag.Sort, column = @ViewBag.Column, keyWord = @ViewBag.KeyWord }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "unobtrusive", OnComplete = "" }))
</div>