@model FootballPitchesBooking.Models.WebsiteStaffModels.EditStadiumModel
@{
    ViewBag.STADIUM = "active";
    ViewBag.Title = "Thêm Sân Bóng";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<div class="row webstaff-edit-stadium">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="AddStadium" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <fieldset>
                        <h2>Thêm Sân Bóng
                        </h2>
                        @if (Model.ErrorMessage != null)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in Model.ErrorMessage)
                                {
                                    <p>- @error</p>
                                }
                            </div>
                        }                        
                        <div class="row">
                            <div class="span8">
                                <h4>Thông tin cơ bản:</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    Tên sân bóng
                                    <input name="Name" type="text" placeholder="Tên sân bóng" value="@Model.Name">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Chủ sân
                                    <input id="mainowner" name="MainOwner" type="text" placeholder="Chủ sân" value="@Model.MainOwner">
                                </label>
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        $.ajax({
                                            url: "/Account/GetAllUserName",
                                            type: "post",
                                            success: function (data) {
                                                $("#mainowner").typeahead({
                                                    source: data
                                                });
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="span3">         
                                <label>
                                    Ngày hết hạn
                                <input type="text" class="span3" id="expiredDate" name="ExpiredDate" value="@Model.ExpiredDate">
                                <span id="expiredDatePicker" class="datepicker" style="display:none"></span>
                                </label>                       
                                <script type="text/javascript">
                                    $(document).ready(function () {
                                        var close = false;
                                        $("#expiredDatePicker").datepicker({
                                            dateFormat: 'dd/mm/yy',
                                            showOtherMonths: false,
                                            numberOfMonths: 1,
                                            altField: "#expiredDate",
                                            altFormat: "dd/mm/yy",
                                            minDate: null,
                                            defaultDate: "@Model.ExpiredDate",
                                            onSelect: function (date) {
                                                close = false;
                                                $("#expiredDate").focus();
                                            },
                                            onChangeMonthYear: function () {
                                                close = false;
                                                $("#expiredDate").focus();
                                            }
                                        });
                                        $("#expiredDate").focus(function () {
                                            document.getElementById("expiredDatePicker").style.display = "block";
                                        });
                                        $("#expiredDate").mousedown(function () {
                                            document.getElementById("expiredDatePicker").style.display = "block";
                                        });
                                        $("#expiredDate").focusout(function () {
                                            close = true;
                                            setTimeout(function () {
                                                if (close) {
                                                    document.getElementById("expiredDatePicker").style.display = "none";
                                                }
                                            }, 200);
                                        });
                                    });
                                </script>
                            </div>               
                            <div class="span3">
                                <label>
                                    Trạng thái hoạt động
                                    <select id="isActive" name="IsActive" data-cur="@Model.IsActive">
                                        <option value="true">Đang hoạt động</option>
                                        <option value="false">Không hoạt động</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#isActive").val($("#isActive").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Số điện thoại sân
                                    <input name="Phone" type="text" placeholder="Số điện thoại sân" value="@Model.Phone">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Email sân
                                    <input name="Email" type="text" placeholder="Email sân" value="@Model.Email">
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="span8">
                                <h4><span>Địa chỉ sân bóng:</span></h4>
                            </div>
                            <div class="span3">
                                <label>
                                    Đường
                                    <input name="Street" type="text" placeholder="Đường" value="@Model.Street">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Phường
                                    <input name="Ward" type="text" placeholder="Phường" value="@Model.Ward">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Quận
									<select name="District" id="district" data-cur="@Model.District">
                                        <option id="first_district" value="Q. 1" selected="selected">Q. 1</option>
                                        <option value="Q. 2">Q. 2</option>
                                        <option value="Q. 3">Q. 3</option>
                                        <option value="Q. 4">Q. 4</option>
                                        <option value="Q. 5">Q. 5</option>
                                        <option value="Q. 6">Q. 6</option>
                                        <option value="Q. 7">Q. 7</option>
                                        <option value="Q. 8">Q. 8</option>
                                        <option value="Q. 9">Q. 9</option>
                                        <option value="Q. 10">Q. 10</option>
                                        <option value="Q. 11">Q. 11</option>
                                        <option value="Q. 12">Q. 12</option>
                                        <option value="Q. Bình Tân">Q. Bình Tân</option>
                                        <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                                        <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                                        <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                                        <option value="Q. Tân Bình">Q. Tân Bình</option>
                                        <option value="Q. Tân Phú">Q. Tân Phú</option>
                                        <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                                        <option value="H. Bình Chánh">H. Bình Chánh</option>
                                        <option value="H. Củ Chi">H. Củ Chi</option>
                                        <option value="H. Hóc Môn">H. Hóc Môn</option>
                                        <option value="H. Nhà Bè">H. Nhà Bè</option>
                                        <option value="H. Cần Giờ">H. Cần Giờ</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#district").val($("#district").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="span9">
                                <h4>Giờ hoạt động:</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    Từ
                                    <input type="text" class="span2 timepicker" id="opentime" name="OpenTime" value="@Model.OpenTime" />
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Đến
                                    <input type="text" class="span2 timepicker" id="closetime" name="CloseTime" value="@Model.CloseTime" />
                                    <span class="add-on"><i class="icon-time"></i></span>
                                </label>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $.each($(".timepicker"), function (index, object) {
                                    $(object).timepicker({
                                        showMeridian: false,
                                        defaultTime: object.value,
                                        minuteStep: 30,
                                        showInputs: false
                                    });
                                    object.onkeydown = function () {
                                        return false;
                                    }
                                });
                            });
                        </script>
                        <hr />
                        <div class="row">
                            <div class="span9">
                                <h4>Hình ảnh sân:</h4>
                            </div>
                            <div class="span3">
                                <label>
                                    Thêm hình sân
                                    <input type="file" name="Images" multiple id="imageUpload" />
                                </label>
                            </div>
                            <script type="text/javascript">
                                function DeleteImage(id) {
                                    var confirm = confirm("Bạn có muốn xóa tấm hình này không? Hành động này không thể phục hồi.");
                                    if (confirm) {
                                        $.ajax({
                                            url: "/WebsiteStaff/DeleteStadiumImage?id=" + id,
                                            type: "post",
                                            success: function (data) {
                                                alert(data);
                                            }
                                        });
                                    }
                                }
                            </script>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <br />
                                <button type="button" onclick="window.location='/WebsiteStaff/Stadiums'" class="btn btn-primary btn-large book-now pull-right">Huỷ bỏ</button>
                                <button type="submit" class="btn btn-primary btn-large book-now pull-right">Lưu</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
