@model FootballPitchesBooking.Models.RecommendationModels.RecommendationPriorityModel
@{
    ViewBag.CON = "EditPriority";
    ViewBag.Title = "QUẢN LÝ GỢI Ý SÂN BÓNG";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}


<script src="~/Content/bootstrap/js/jquery-ui-1.9.2.custom.js"></script>

<h2>QUẢN LÝ GỢI Ý SÂN BÓNG</h2>
<div>
    <h3>Sân tốt nhất cho bạn</h3>
    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="best-stadium-amount1" data-cname="Bs_MostBooked" value="@Model.BestStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="best-stadium-amount2" data-cname="Bs_Nearest" value="@Model.BestStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="best-stadium-amount3" data-cname="Bs_MostPromoted" value="@Model.BestStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="best-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />
<h3>Sân gần nhà</h3>
<div>
    <div class="row">

        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="nearest-stadium-amount1" data-cname="Nr_MostBooked" value="@Model.NearestStadiumsMostBooked.Value" readonly/>
            </label>
        </div>

        <div class="span4">
            <label>
                Sân gần nhà (%)
           <input type="text" id="nearest-stadium-amount2" data-cname="Nr_Nearest" value="@Model.NearestStadiumsNearest.Value" readonly/>
            </label>
        </div>

        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="nearest-stadium-amount3" data-cname="Nr_MostPromoted" value="@Model.PromotionStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="nearest-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h3>Sân khuyến mãi</h3>

    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="promoted-stadium-amount1" data-cname="Pr_MostBooked" value="@Model.PromotionStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="promoted-stadium-amount2" data-cname="Pr_Nearest" value="@Model.PromotionStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="promoted-stadium-amount3" data-cname="Pr_MostPromoted" value="@Model.PromotionStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="promoted-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h3>Sân Hay Đặt</h3>
    <div class="row">
        <div class="span4">
            <label>
                Sân đặt nhiều (%)
            <input type="text" id="mostBooked-stadium-amount1" data-cname="Pr_MostBooked" value="@Model.MostBookedStadiumsMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân gần nhà (%)
            <input type="text" id="mostBooked-stadium-amount2" data-cname="Pr_Nearest" value="@Model.MostBookedStadiumsNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Sân khuyến mãi (%)
            <input type="text" id="mostBooked-stadium-amount3" data-cname="Pr_MostPromoted" value="@Model.MostBookedStadiumsMostDiscount.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="mostBooked-stadium"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<div>
    <h3>Cáp Kèo</h3>
    <div class="row">
        <div class="span4">
            <label>
                Kèo tại đặt nhiều (%)
            <input type="text" id="rival-amount1" data-cname="Rv_Mostbooked" value="@Model.RivalAtStadiumMostBooked.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Kèo tại gần nhà (%)
            <input type="text" id="rival-amount2" data-cname="Rv_Nearest" value="@Model.RivalAtStadiumNearest.Value" readonly/>
            </label>
        </div>
        <div class="span4">
            <label>
                Kèo sắp đá (%)
            <input type="text" id="rival-amount3" data-cname="Rv_Expired" value="@Model.RivalExpired.Value" readonly/>
            </label>
        </div>
    </div>
    <div id="rival"></div>
    <br />
    <button onclick="updatePriority(this)">Cập nhật</button>
</div>
<hr />

<script type="text/javascript">

    function updatePriority(control){
        var postData = "{";
        $.each($(control).parent().find("input"), function(index, input) {
            postData+= '"' + $(input).data("cname") +  '":"' + $(input).val() + '"';
            if ((index + 1) != $(control).parent().find("input").length){
                postData += ", ";
            }
        });
        postData += "}";
        $.ajax({
            url: "/WebsiteStaff/EditPriority",
            type: 'post',
            data: postData,
            success: function(data){
                alert(data);
            }
        });
    }

</script>

<script>
    $(function () {
        $("#best-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.BestStadiumsMostBooked.Value, @Model.BestStadiumsMostBooked.Value + @Model.BestStadiumsNearest.Value],
            slide: function (event, ui) {                  
                $("#best-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#best-stadium-amount1").val(ui.values[0]);
                $("#best-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#best-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#best-stadium-amount").val($("#best-stadium").slider("values", 0)
          + "% - " + ($("#best-stadium").slider("values", 1) - $("#best-stadium").slider("values", 0)) + "% - "
          + (100 - $("#best-stadium").slider("values", 1)) + "%");
        $("#best-stadium-amount1").val($("#best-stadium").slider("values", 0));
        $("#best-stadium-amount2").val($("#best-stadium").slider("values", 1) - $("#best-stadium").slider("values", 0));
        $("#best-stadium-amount3").val(100 - $("#best-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#nearest-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.NearestStadiumsMostBooked.Value, @Model.NearestStadiumsMostBooked.Value+@Model.NearestStadiumsNearest.Value],
            slide: function (event, ui) {
                $("#nearest-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#nearest-stadium-amount1").val(ui.values[0]);
                $("#nearest-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#nearest-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#nearest-stadium-amount").val($("#nearest-stadium").slider("values", 0)
          + "% - " + ($("#nearest-stadium").slider("values", 1) - $("#nearest-stadium").slider("values", 0)) + "% - "
          + (100 - $("#nearest-stadium").slider("values", 1)) + "%");
        $("#nearest-stadium-amount1").val($("#nearest-stadium").slider("values", 0));
        $("#nearest-stadium-amount2").val($("#nearest-stadium").slider("values", 1) - $("#nearest-stadium").slider("values", 0));
        $("#nearest-stadium-amount3").val(100 - $("#nearest-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#promoted-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.PromotionStadiumsMostDiscount.Value, @Model.PromotionStadiumsMostDiscount.Value + @Model.PromotionStadiumsNearest.Value],
            slide: function (event, ui) {
                $("#promoted-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#promoted-stadium-amount1").val(ui.values[0]);
                $("#promoted-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#promoted-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#promoted-stadium-amount").val($("#promoted-stadium").slider("values", 0)
          + "% - " + ($("#promoted-stadium").slider("values", 1) - $("#promoted-stadium").slider("values", 0)) + "% - "
          + (100 - $("#promoted-stadium").slider("values", 1)) + "%");
        $("#promoted-stadium-amount1").val($("#promoted-stadium").slider("values", 0));
        $("#promoted-stadium-amount2").val($("#promoted-stadium").slider("values", 1) - $("#promoted-stadium").slider("values", 0));
        $("#promoted-stadium-amount3").val(100 - $("#promoted-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#mostBooked-stadium").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.MostBookedStadiumsMostBooked.Value, @Model.MostBookedStadiumsMostBooked.Value + @Model.MostBookedStadiumsNearest.Value],
            slide: function (event, ui) {                  
                $("#mostBooked-stadium-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#mostBooked-stadium-amount1").val(ui.values[0]);
                $("#mostBooked-stadium-amount2").val(ui.values[1] - ui.values[0]);
                $("#mostBooked-stadium-amount3").val(100 - ui.values[1]);
            }
        });
        $("#mostBooked-stadium-amount").val($("#mostBooked-stadium").slider("values", 0)
          + "% - " + ($("#mostBooked-stadium").slider("values", 1) - $("#mostBooked-stadium").slider("values", 0)) + "% - "
          + (100 - $("#mostBooked-stadium").slider("values", 1)) + "%");
        $("#mostBooked-stadium-amount1").val($("#mostBooked-stadium").slider("values", 0));
        $("#mostBooked-stadium-amount2").val($("#mostBooked-stadium").slider("values", 1) - $("#mostBooked-stadium").slider("values", 0));
        $("#mostBooked-stadium-amount3").val(100 - $("#mostBooked-stadium").slider("values", 1));
    });
</script>

<script>
    $(function () {
        $("#rival").slider({
            range: true,
            min: 0,
            max: 100,
            values: [@Model.RivalAtStadiumMostBooked.Value, @Model.RivalAtStadiumMostBooked.Value + @Model.RivalExpired.Value],
            slide: function (event, ui) {                  
                $("#rival-amount").val(ui.values[0] + "% - " + (ui.values[1] - ui.values[0]) + "% - " + (100 - ui.values[1]) + "%");
                $("#rival-amount1").val(ui.values[0]);
                $("#rival-amount2").val(ui.values[1] - ui.values[0]);
                $("#rival-amount3").val(100 - ui.values[1]);
            }
        });
        $("#rival-amount").val($("#rival").slider("values", 0)
          + "% - " + ($("#rival").slider("values", 1) - $("#rival").slider("values", 0)) + "% - "
          + (100 - $("#rival").slider("values", 1)) + "%");
        $("#rival-amount1").val($("#rival").slider("values", 0));
        $("#rival-amount2").val($("#rival").slider("values", 1) - $("#rival").slider("values", 0));
        $("#rival-amount3").val(100 - $("#rival").slider("values", 1));
    });
</script>