@model FootballPitchesBooking.Models.WebsiteStaffModels.EditJSRModel
@{
    ViewBag.REQUEST = "active";
    ViewBag.Title = "SỬA THÔNG TIN YÊU CẦU";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<div class="row join-us">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="EditJSR?Id=@Request.QueryString["Id"]" method="post" class="form-horizontal">
                    <fieldset>
                        <br />
                        <br />
                        <h1>SỬA THÔNG TIN YÊU CẦU GIA NHẬP
                        </h1>
                        <br />
                        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
                        {
                            <div class="alert alert-danger">@Model.ErrorMessage</div>
                        }
                        else if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
                        {
                            <div class="alert alert-success">@Model.SuccessMessage</div>
                        }
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN </span>CƠ BẢN</legend>
                            </div>
                            <div class="span3">
                                <label>
                                    TRẠNG THÁI XỬ LÝ
                                    <select id="status" name="Status" data-cur="@Model.Status">
                                        <option value="MỚI">MỚI</option>
                                        <option value="ĐANG XỬ LÝ">ĐANG XỬ LÝ</option>
                                        <option value="KHÔNG CHẤP NHẬN">KHÔNG CHẤP NHẬN</option>
                                        <option value="CHẤP NHẬN">CHẤP NHẬN</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#status").val($("#status").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    NGÀY GỬI YÊU CẦU
                                    <input name="CreateDate" type="text" placeholder="NGÀY GỬI YÊU CẦU" value="@Model.CreateDate" readonly>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN</span> NGƯỜI YÊU CẦU</legend>
                            </div>
                            <div class="span3">
                                <label>
                                    TÊN TÀI KHOẢN
                                    <input name="UserName" type="text" placeholder="HỌ VÀ TÊN" value="@Model.UserName" readonly>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    HỌ VÀ TÊN
                                    <input name="FullName" type="text" placeholder="HỌ VÀ TÊN" value="@Model.FullName">
                                </label>
                            </div>
                             <div class="span3" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3">
                                <label>
                                    ĐỊA CHỈ EMAIL
									<input name="Email" type="text" value="@Model.Email">
                                </label>
                            </div>

                            <div class="span3">
                                <label>
                                    SỐ ĐIỆN THOẠI
									<input name="PhoneNumber" type="text" value="@Model.Phone">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    ĐỊA CHỈ NHÀ
									<input name="Address" type="text" value="@Model.Address">
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span8">
                                <legend><span>SÂN BÓNG</span> GIA NHẬP</legend>
                            </div>
                            <div class="span3">
                                <label>
                                    TÊN SÂN
									<input name="StadiumName" type="text" value="@Model.StadiumName">
                                </label>
                            </div>
                            <div class="span5" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3">
                                <label>
                                    ĐƯỜNG
									<input name="StadiumStreet" type="text" value="@Model.StadiumStreet">
                                </label>
                            </div>

                            <div class="span3">
                                <label>
                                    PHƯỜNG
									<input name="StadiumWard" type="text" value="@Model.StadiumWard">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    QUẬN
                                    <select name="StadiumDistrict" id="district" data-cur="@Model.StadiumDistrict">
                                        <option id="first_district" value="Q. 1" selected="selected">Q. 1</option>
                                        <option value="Q. 2">Q. 2</option>
                                        <option value="Q. 3">Q. 3</option>
                                        <option value="Q. 4">Q. 4</option>
                                        <option value="Q. 5">Q. 5</option>
                                        <option value="Q. 6">Q. 6</option>
                                        <option value="Q. 7">Q. 7</option>
                                        <option value="Q. 8">Q. 8</option>
                                        <option value="Q. 9">Q. 9</option>
                                        <option value="Q. 10">Q. 10</option>
                                        <option value="Q. 11">Q. 11</option>
                                        <option value="Q. 12">Q. 12</option>
                                        <option value="Q. Bình Tân">Q. Bình Tân</option>
                                        <option value="Q. Bình Thạnh">Q. Bình Thạnh</option>
                                        <option value="Q. Gò Vấp">Q. Gò Vấp</option>
                                        <option value="Q. Phú Nhuận">Q. Phú Nhuận</option>
                                        <option value="Q. Tân Bình">Q. Tân Bình</option>
                                        <option value="Q. Tân Phú">Q. Tân Phú</option>
                                        <option value="Q. Thủ Đức">Q. Thủ Đức</option>
                                        <option value="H. Bình Chánh">H. Bình Chánh</option>
                                        <option value="H. Củ Chi">H. Củ Chi</option>
                                        <option value="H. Hóc Môn">H. Hóc Môn</option>
                                        <option value="H. Nhà Bè">H. Nhà Bè</option>
                                        <option value="H. Cần Giờ">H. Cần Giờ</option>
                                    </select>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $("#district").val($("#district").data("cur"));
                                        });
                                    </script>
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span9">
                                <legend><span>YÊU CẦU</span> ĐẶC BIỆT</legend>
                                <textarea name="Note" class="span9" rows="3">@Model.Note</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <br />
                                <button type="button" onclick="window.location='/WebsiteStaff/JoinRequests'" class="btn btn-primary btn-large book-now pull-right">Huỷ bỏ</button>
                                <button type="submit" class="btn btn-primary btn-large book-now pull-right">Cập nhật</button>
                                <br />
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
