@model FootballPitchesBooking.Models.WebsiteStaffModels.RankModel
@{
    ViewBag.Title = "Sửa cấp bậc";
    ViewBag.RANK = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>Chỉnh sửa thông tin cấp bậc</h2>
<div style="color: red">
    @if (Model != null && Model.ErrorMessages.Count() > 0)
    {
        foreach (var error in Model.ErrorMessages)
        {
            <p>- @error</p>
        }
    }
    @if (ViewData["deleteRank"] == "fail")
    {
        <p>- Máy chủ đang bận. Xin vui lòng thử lại sau</p> 
    }
</div>

<form action="EditMemberRank/@Model.Id" method="post">
    <table>
        <tr>
            <td>Cấp bậc:</td>
            <td>
                <input type="text" name="RankName" value="@Model.RankName" /></td>
        </tr>
        <tr>
            <td>Điểm tối thiểu:</td>
            @if (Model.Point > 0)
            {
                <td>
                    <input type="text" name="Point" value="@Model.Point" /></td>
            }
            else
            {
                <td>
                    <input type="text" name="Point" readonly="" value="@Model.Point" /></td>
            }
        </tr>


        <tr>
            <td>Ưu đãi giảm giá:</td>
            <td>
                <input placeholder="Nhập vào ưu đãi" type="text" name="Promotion" value="@Model.Promotion" />
            </td>
        </tr>


        <tr>
            <td colspan="2">
                <button type="button" onclick="window.location = '/WebsiteStaff/MemberRanks'" class="btn btn-primary btn-large book-now pull-right groupbtn">Huỷ bỏ</button>
                @if (Model.Point > 0)
                {
                    <button type="button" onclick="window.location = '/WebsiteStaff/DeleteMemberRank/@Model.Id'" class="btn btn-primary btn-large book-now pull-right groupbtn">Xóa cấp bậc</button>
                }
                <button type="submit" name="Save" class="btn btn-primary btn-large book-now pull-right groupbtn">Lưu</button>
            </td>
        </tr>
    </table>
</form>
