@model FootballPitchesBooking.Models.RankModels.RankModel
@{
    ViewBag.Title = "Sửa thứ hạng";
    ViewBag.RANK = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>Chỉnh sửa thông tin thứ hạng</h2>
@if (Model != null && Model.ErrorMessages.Count() > 0)
{
    <div style="color:red">
        @foreach (var error in Model.ErrorMessages)
        {
            <p>- @error</p>
        }
    </div>
}

<form action="EditMemberRank" method="post">
    <input type="hidden" name="RankId" value="@Model.Id" />
    <table> 
        <tr>
            <td>Tên hạng:</td>
            <td><input type="text" name="RankName" value="@Model.RankName" /></td>
        </tr>
        <tr>
            <td>Điểm:</td>
            <td><input type="text" name="Point" value="@Model.Point" /></td>
        </tr>

        
        <tr>            
            <td>Ưu đãi giảm giá:</td>
            <td><input placeholder="Nhập vào ưu đãi" type="text" name="Promotion" value="@Model.Promotion" />
                <script type="text/javascript"> 
                    $('input[name="Promotion"]').keyup(function (event) {
                    if (isNaN(String.fromCharCode(event.which))) {
                        var value = $(this).val();
                        $(this).val(value.substr(0, value.length - 1));
                    }
                });
            </script>
            </td>            
        </tr> 
        
        
        <tr>
            <td colspan="2">
                <button type="submit" name="Save" >Lưu</button>
                <button type="button" onclick="window.location = '/WebsiteStaff/MemberRanks'">Hủy bỏ</button>
            </td>
        </tr>
    </table>
</form>