@model List<FootballPitchesBooking.Models.JoinSystemRequest>
@{
    ViewBag.REQUEST = "active";
    ViewBag.Title = "QUẢN LÝ YÊU CẦU THAM GIA HỆ THỐNG";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h1><span>QUẢN LÝ</span> YÊU CẦU THAM GIA HỆ THỐNG</h1>

@if (TempData["DeleteError"] != null)
{
    <p style="color:red">@TempData["DeleteError"]</p>
}

@if (Model != null && Model.Count != 0)
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>TÊN TÀI KHOẢN</th>
                <th>HỌ VÀ TÊN</th>
                <th>ĐỊA CHỈ</th>
                <th>SỐ ĐIỆN THOẠI</th>
                <th>TÊN SÂN BÓNG</th>
                <th>ĐỊA CHỈ SÂN</th>
                <th>TRẠNG THÁI</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {               
                <tr>
                    <td>@item.User.UserName</td>
                    <td>@item.FullName</td>                    
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.StadiumName</td>
                    <td>@item.StadiumAddress</td>
                    <td>@item.Status</td>
                    <td><a href="/WebsiteStaff/EditJSR?Id=@item.Id">Chỉnh sửa</a> | 
                    <a href="/WebsiteStaff/DeleteJSR?Id=@item.Id">Xóa</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Hiện tại không có yêu cầu nào.</p>
}
