@model List<FootballPitchesBooking.Models.User>
@{
    ViewBag.Title = "Quản Lý Thành Viên";
    ViewBag.MEMBER = "active";
    Layout = "~/Views/Shared/_WebsiteStaffLayout.cshtml";
}

<h2>QUẢN LÝ THÀNH VIÊN</h2>
<div class="row">
    <div class="span12">
        @if (Model != null && Model.Count > 0)
        {
            <div class="row" style="margin: 0 0 30px 0;">
                <div class="span5 no-margin">
                    <label class="span2 no-margin" style="height: 30px;line-height: 30px;">
                        TÊN THÀNH VIÊN
                    </label>
                    <input name="Keyword" id="Keyword" type="text" placeholder="Tên đăng nhập hoặc tên đầy đủ" value="">
                </div>
                <div class="span3">
                    <label>
                        <button type="button" id="Search" class="btn book-now btn-normal groupbtn">Tìm kiếm</button>
                        <button type="button" onclick="window.location = '/WebsiteStaff/Users'" class="btn book-now btn-normal groupbtn">Xem tất cả</button>
                    </label>
                    <script type="text/javascript">
                        $('#Keyword').keyup(function (e) {
                            if (!e) e = window.event;
                            var keyCode = e.keyCode || e.which;
                            if (keyCode == '13') {
                                var keyword = $('#Keyword').val();
                                window.location = '/WebsiteStaff/Users?Search=' + keyword;
                                return false;
                            }
                        });

                        $('#Search').click(function () {
                            var keyword = $('#Keyword').val();
                            window.location = '/WebsiteStaff/Users?Search=' + keyword;
                        });
                    </script>
                </div>
            </div>
            <div class="row no-margin">
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 150px;">THÀNH VIÊN</th>
                            <th style="width: 200px;">TÊN ĐẦY ĐỦ</th>
                            <th>ĐỊA CHỈ</th>
                            <th style="width: 200px;">E-MAIL</th>
                            <th style="width: 150px;">QUYỀN HẠN</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="/WebsiteStaff/EditUser?Id=@item.Id">@item.UserName</a></td>
                                <td>@item.FullName</td>
                                <td>@item.Address</td>
                                <td>@item.Email</td>
                                <td>@item.Role.DisplayName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>Không tìm thấy thành viên này</p>
        }
    </div>
</div>
