@model FootballPitchesBooking.Models.AccountModels.BlockUserModel

@{
    ViewBag.USER = "active";
    ViewBag.Title = "Thành viên bị cấm";
}


<div class="row account-block-user">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <fieldset>
                    <h2>THÀNH VIÊN BỊ CẤM</h2>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("BannedMember"))
                    {
                    <div class="row">
                        @if (Model != null)
                        {
                            <div class="span9">
                                @if (Model.IsForever || Model.ExpiredDate < DateTime.Now)
                                {
                                    <p style="font-size: 16px; color: #B81007;"><b>@Model.UserName</b> đã bị cấm bởi <b>@Model.Staff</b> từ @Model.StartDate.ToString("HH:mm") ngày @Model.StartDate.ToString("dd/MM/yyyy") đến không thời hạn</p>   
                                }
                                else
                                {
                                    <p style="font-size: 16px; color: #B81007;"><b>@Model.UserName</b> đã bị cấm bởi <b>@Model.Staff</b> từ @Model.StartDate.ToString("HH:mm") ngày @Model.StartDate.ToString("dd/MM/yyyy") đến @Model.ExpiredDate.ToString("HH:mm") ngày @Model.ExpiredDate.ToString("dd/MM/yyyy")</p>
                                }
                                <p>Lý do: @Model.Reason</p>
                            </div>
                        }
                        else
                        {
                            <div class="span9">
                                    <p style="font-size: 16px; color: #B81007;"><b>@User.Identity.Name</b> đã bị cấm không thời hạn</p>
                            </div>
                        }
                        <div class="span9">
                                    <p>Nhấn vào <a href="/Account/Logout">đây</a> để đăng xuất tài khoản</p>
                            </div>
                    </div>
                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>
