@model List<FootballPitchesBooking.Models.AccountModels.BookingHistoryModel>
@{
    ViewBag.USER = "active";
    ViewBag.Title = "Lịch Sử Đặt Sân";
}
<br />
<h2>LỊCH SỬ ĐẶT SÂN</h2>


<table class="table table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th style="text-align:center">NGÀY ĐÁ</th>
            <th style="text-align:center">GIỜ BẮT ĐẦU</th>
            <th style="text-align:center">THỜI LƯỢNG</th>
            <th style="text-align:center; min-width:70px;">SÂN BÓNG</th>
            <th style="text-align:center">ĐỊA CHỈ</th>
            <th style="text-align:center">GIAO HỮU</th>
            <th style="text-align:center">TRẠNG THÁI</th>
            <th style="text-align:center"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
            <tr>
                <td style="width: 85px;">@item.StartDate</td>
                <td style="width: 85px; text-align: right;">@item.StartTime</td>
                <td style="width: 85px; text-align: right;">@item.Duration phút</td>
                <td>@item.StadiumName</td>
                <td>@item.StadiumAddress</td>
                @if (string.IsNullOrWhiteSpace(item.RivalStatus))
                {
                    <td style="width: 100px;">Không tìm</td>
                }
                else if (item.RivalStatus.Equals("Waiting"))
                {
                    <td style="width: 100px;">Đang tìm</td>
                }
                else if (item.RivalStatus.Equals("Pending"))
                {
                    <td style="width: 100px;">Có đội yêu cầu</td>
                }
                else
                {
                    <td style="width: 100px;">Đã có đội</td>
                }
                @if (item.Status.ToLower().Equals("approved"))
                {
                    <td style="width: 100px;">Đã xác nhận</td>
                }
                else if (item.Status.ToLower().Equals("denied"))
                {
                    <td style="width: 100px;">Bị từ chối</td>
                }
                else if (item.Status.ToLower().Equals("pending"))
                {
                    <td style="width: 100px;">Đang chờ xét</td>
                }
                else if (item.Status.ToLower().Equals("canceled"))
                {
                    <td style="width: 100px;">Đã bị hủy</td>
                }
                <td style="width:100px;" class="table-cell-action"><a href="/Account/EditReservation?Id=@item.Id">Chỉnh sửa</a></td>
            </tr>
            }
        }
    </tbody>
</table>
