@model FootballPitchesBooking.Models.AccountModels.AccountModel

@{
    ViewBag.USER = "active";
    ViewBag.Title = "Cập Nhật Thông Tin Cá Nhân";
}

@*<h2>Cập Nhật Thông Tin Cá Nhân</h2>*@

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var fullname = $("#txtFullN").val();
        var password = $("#txtPass").val();
        var phone = $("#txtPhone").val();
        var email = $("#txtMail").val();
        var reg = /^(\w+[\.])*\w+@@(\w+\.)+[a-zA-Z]+$/;
        var aln = /^[a-z|A-Z|0-9]*$/;
        var address = $("#txtAddress").val();
        var add = /^[a-zA-Z0-9-\/] ?([a-zA-Z0-9-\/]|[a-zA-Z0-9-\/] )*[a-zA-Z0-9-\/]$/;

        if (fullname == "" || fullname.length > 30) {
            $("#FullName_Error").text("Yêu cầu phải từ 1 đến 30 kí tự");
            $("#FullName_Error").css("display", "block");
            flag++;

        }
        else {
            $("#FullName_Error").text(" ");
            $("#FullName_Error").css("display", "none");
        }

        if (password == "" || password.length < 6 || password.length > 32) {
            $("#ErrorPass").text("Yêu cầu mật khầu từ 6 đến 32 kí tự");
            $("#ErrorPass").css("display", "block");
            flag++;
        }
        else {
            $("#ErrorPass").text(" ");
            $("#ErrorPass").css("display", "none");
        }
        
        if (phone == "" || phone.length < 10 || phone.length > 15) {
            $("#Phone_Error").text("Yêu cầu phải nhập đúng số điện thoại");
            $("#Phone_Error").css("display", "block");
            flag++;

        }
        else {
            $("#Phone_Error").text(" ");
            $("#Phone_Error").css("display", "none");
        }

        if (address == "" || address.length < 2 || password.length > 32) {
            $("#Address_Error").text("Yêu cầu địa chỉ từ 2 đến 32 kí tự");
            $("#Address_Error").css("display", "block");
            flag++;
        }

        else if (!add.test(address)) {
            $("#Address_Error").text("Sai định dạng địa chỉ")
            $("#Address_Error").css("display", "block");
            flag++;
        }

        else if (!aln.test(address)) {
            $("#Address_Error").text("Địa chỉ chỉ phải có chữ và số");
            $("#Address_Error").css("display", "block");
            flag++;
        }

        else {
            $("#Address_Error").text(" ");
            $("#Address_Error").css("display", "none");
        }

        if (!reg.test(email)) {
            $("#Email_Error").text("Email không đúng");
            $("#Email_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Email_Error").text(" ");
            $("#Email_Error").css("display", "none");
        }


        if (flag > 0) {
                return false;
            } else return true;
    }
</script>





    
    <div class="row Account-view-profiles">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="Edit" method="post">
                     <fieldset>
                        <br />
                        <br />
                        <h1>CẬP NHẬT THÔNG TIN CÁ NHÂN
                        </h1>
                        <br />
                        @if (Model.ErrorMessages != null && Model.ErrorMessages.Count() > 0)
                        {
                            <div class="alert alert-danger">
                                @foreach (var error in Model.ErrorMessages)
                                {
                                    <p>- @error</p>
                                }
                            </div>
                        }
                        <div class="row">
                            <div class="span3">
                                <label>
                                    TÊN ĐĂNG NHẬP
                                    <input name="UserName" type="text" disabled="disabled" value="@Model.UserName">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    MẬT KHẨU
                                    <input name="Password" id="txtPass" type="password" placeholder="Nhập mật khẩu" required="required" value="">
                                    <div class="alert alert-danger" id="ErrorPass" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3" style="visibility: hidden;">
                                <label>&nbsp</label>
                                <input type="text">
                            </div>
                            <div class="span3">
                                <label>
                                    TÊN THÀNH VIÊN
                                    <input name="FullName" id="txtFullN" type="text" placeholder="Nhập vào Họ và Tên" required="required" value="@Model.FullName">
                                    <div class="alert alert-danger" id="FullName_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    SỐ ĐIỆN THOẠI
                                    <input name="PhoneNumber" id="txtPhone" type="text" placeholder="Nhập số điện thoại" required="required" value="@Model.PhoneNumber">
                                    <script type="text/javascript">
                                        $('#txtPhone').keyup(function (event) {
                                            if (isNaN(String.fromCharCode(event.which))) {
                                                var value = $(this).val();
                                                $(this).val(value.substr(0, value.length - 1));
                                            }
                                        });
                                    </script>
                                    <div class="alert alert-danger" id="Phone_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    E-MAIL
                                    <input name="Email" id="txtMail" type="text" placeholder="E-Mail" required="required" value="@Model.Email">
                                    <div class="alert alert-danger" id="Email_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3" style="width: 100%;">
                                <label>
                                    ĐỊA CHỈ
                                    <input style="width: 685px;" id="txtAddress" name="Address" required="required" type="text"  value="@Model.Address">
                                    <div class="alert alert-danger" id="Address_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    POINT
                                    <input name="Point" type="text" placeholder="ĐIỂM" disabled="disabled" value="@Model.Point">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Ngày Tham Gia
                                    <input name="JoinDate" type="text" placeholder="NGÀY THAM GIA" disabled="disabled" value="@Model.JoinDate.ToString("dd/MM/yyyy")">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span9">
                                <br />
                                <button type="button" onclick="window.location = '/Account/Details/@Model.Id'" class="btn btn-primary btn-large book-now pull-right groupbtn">QUAY VỀ</button> 
                                <button type="submit" name="Save" onclick="return check()" class="btn btn-primary btn-large book-now pull-right groupbtn">LƯU</button>                                                               
                                <br />
                                <br />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
    </form>
    
    
    
    
    
    
    
    
    
    
    
    
   @* <table>
        <tr>
            <td>Tên tài khoản:
            </td>
            <td >
                @Html.DisplayFor(model => Model.UserName)
            </td>
        </tr>

        <tr>
            <td>Mật Khẩu:
                <label for="Password"> Mật khẩu:</label>
            </td>
            <td>
                <input type="password" id="txtPass" name="Password" placeholder="Nhập mật khẩu" required="required" />
                <div class="alert alert-danger" id="ErrorPass" style="display: none"></div>
            </td>
        </tr>

        <tr>
            <td>Xác nhận mật khẩu: 
            </td>
            <td>
                <input type="password" id="txtConfirmPass" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" required="required" />
                <div class="alert alert-danger" id="ConfirmErrorPass" style="display: none"></div>
            </td>
        </tr>

        <tr>
            <td>Họ và Tên:
            </td>
            <td>
                <input type="text" id="txtFullN" name="FullName" placeholder="Nhập vào Họ và Tên" required="required" value="@Model.FullName" />
                <div class="alert alert-danger" id="FullName_Error" style="display: none"></div>
            </td>
        </tr>

        

        <tr>
            <td>Địa chỉ:
            </td>
            <td>
                @Html.TextBoxFor(model => Model.Address)
            </td>
        </tr>
        <tr>
            <td>Phone:
            </td>
            <td>
                <input type="text" id="txtPhone" name="PhoneNumber" placeholder="Nhập số điện thoại" required="required" value="@Model.PhoneNumber" />
            <script type="text/javascript">
                $('#txtPhone').keyup(function (event) {
                    if (isNaN(String.fromCharCode(event.which))) {
                        var value = $(this).val();
                        $(this).val(value.substr(0, value.length - 1));
                    }
                });
            </script>
            <div class="alert alert-danger" id="Phone_Error" style="display: none"></div>
            </td>
        </tr>
        <tr>
            <td>Email:
            </td>
            <td>
                @Html.DisplayFor(model => Model.Email)
            </td>
        </tr>
        <tr>
            <td>Điểm thưởng:
            </td>
            <td>
                @Html.DisplayFor(model => Model.Point)
            </td>
        </tr>

        <tr>
            <td>Ngày tham gia:
            </td>
            <td>
                @Html.DisplayFor(model => Model.JoinDate)
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="Save" onclick="return check()">Lưu</button>
            </td>
            <td>
                <button type="button" onclick="window.location = '/Account/Details/@Model.Id'">Quay về</button>
            </td>
        </tr>
    </table>*@
