@model FootballPitchesBooking.Models.Reservation
@{
    ViewBag.Title = "Chỉnh Sửa Thông Tin Cáp Kèo";
    ViewBag.USER = "active";
}

<script type="text/ecmascript">
    function check() {
        var flag = 0;
        var fullname = $("input[name=FullName]").val();
        var phone = $("input[name=PhoneNumber]").val();
        var email = $("input[name=Email]").val();
        var reg = /^(\w+[\.])*\w+@@(\w+\.)+[a-zA-Z]+$/;
        var aln = /^[a-z|A-Z|0-9]*$/;

        if (fullname == "" || fullname.length > 30) {
            $("#FullName_Error").text("Yêu cầu tên thành viên phải từ 1 đến 30 kí tự");
            $("#FullName_Error").css("display", "block");
            flag++;

        }
        else {
            $("#FullName_Error").text(" ");
            $("#FullName_Error").css("display", "none");
        }

        if (phone == "" || phone.length < 10 || phone.length > 15) {
            $("#Phone_Error").text("Yêu cầu phải nhập đúng số điện thoại");
            $("#Phone_Error").css("display", "block");
            flag++;

        }
        else {
            $("#Phone_Error").text(" ");
            $("#Phone_Error").css("display", "none");
        }

        if (!reg.test(email) && email.length > 0) {
            $("#Email_Error").text("Email không đúng");
            $("#Email_Error").css("display", "block");
            flag++;
        }
        else {
            $("#Email_Error").text(" ");
            $("#Email_Error").css("display", "none");
        }


        if (flag > 0) {
            return false;
        } else return true;
    }
</script>

@{
    bool canMod = true;
    if (Convert.ToDateTime(Model.Date).AddHours(Model.StartTime).AddMinutes(0-Convert.ToInt32(TempData["minTimeCancel"])) < DateTime.Now)
    {
        canMod = false;
    }
}

<div class="row edit-rival">
    <div class="span12">
        <div class="row">
            <div class="span9">
                <form action="EditRival?Id=@Model.Id" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <fieldset>                        
                        <h2>CHỈNH SỬA THÔNG TIN CÁP KÈO</h2>
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN CHỦ KÈO</span></legend>
                            </div>
                            @if (Model.User != null)
                            {
                                <div class="span3">
                                    <label>
                                        Chủ kèo
                                         <input name="FullName" type="text" disabled="disabled" value="@Model.User.UserName">
                                    </label>
                                </div>
                                <div class="span3" style="visibility: hidden;">
                                    <label>&nbsp</label>
                                    <input type="text">
                                    <div class="alert alert-danger" style="display: none"></div>
                                </div>
                                <div class="span3" style="visibility: hidden;">
                                    <label>&nbsp</label>
                                    <input type="text">
                                    <div class="alert alert-danger" style="display: none"></div>
                                </div>
                            }
                            <div class="span3">
                                <label>
                                    Họ và tên
                                         <input type="text" disabled="disabled" value="@Model.FullName">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Số điện thoại
                                         <input type="text" disabled="disabled" value="@Model.PhoneNumber">
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Email
                                             <input type="text" disabled="disabled" value="@Model.Email">
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN SÂN BÓNG</span></legend>
                            </div>
                            <div class="span3">
                                <label>
                                    Tên sân
                                        <input type="text" value="@Model.Field.Stadium.Name" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span6">
                                <label>
                                    Địa chỉ
                                        <input class="span6" type="text" value="@Model.Field.Stadium.Street, @Model.Field.Stadium.Ward, @Model.Field.Stadium.District" disabled="disabled" />
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN ĐẶT SÂN</span></legend>
                            </div>
                            <div class="span3">
                                <label>
                                    Số sân
                                        <input type="text" value="@Model.Field.Number" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Kiểu sân
                                        <input type="text" value="@Model.Field.FieldType người" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Ngày đặt
                                        <input type="text" value="@Model.CreatedDate.ToString("dd/MM/yyyy")" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Ngày đá
                                        <input type="text" value="@Model.Date.ToString("dd/MM/yyyy")" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Giờ bắt đầu
                                        <input type="text" value="@((int)Model.StartTime):@(((Model.StartTime - (int)Model.StartTime) * 60).ToString("00"))" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Thời lượng
                                        <input type="text" value="@((int)(Model.Duration * 60))" disabled="disabled" />
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Trạng thái đặt sân
                                        @if (Model.Status.ToLower().Equals("approved"))
                                        {
                                            <input type="text" value="Đã xác nhận" disabled="disabled" />
                                        }
                                        else if (Model.Status.ToLower().Equals("canceled"))
                                        {
                                            <input type="text" value="Đã bị hủy" disabled="disabled" />
                                        }
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <legend><span>THÔNG TIN GIAO HỮU</span></legend>
                            </div>

                            <div class="span3">
                                <label>
                                    Tên đầy đủ
                                        <input type="text" value="@Model.RivalName" placeholder="Tên đầy đủ" name="FullName" @(!canMod ? "disabled='disabled'" : "") />
                                    <div class="alert alert-danger" id="FullName_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Số điện thoại
                                        <input type="text" value="@Model.RivalPhone" placeholder="Số điện thoại" name="PhoneNumber" @(!canMod ? "disabled='disabled'" : "")/>
                                    <div class="alert alert-danger" id="Phone_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Email
                                        <input type="text" value="@Model.RivalEmail" placeholder="Email" name="Email" @(!canMod ? "disabled='disabled'" : "")/>
                                    <div class="alert alert-danger" id="Email_Error" style="display: none"></div>
                                </label>
                            </div>
                            <div class="span3">
                                <label>
                                    Trạng thái giao hữu
                                        @if (Model.RivalStatus.ToLower().Equals("approved"))
                                        {
                                            <input type="text" value="Đã xác nhận" disabled="disabled" />
                                        }
                                        else if (Model.RivalStatus.ToLower().Equals("pending"))
                                        {
                                            <input type="text" value="Đang chờ xét" disabled="disabled" />
                                        }
                                </label>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="span9">
                                @if(canMod)
                                {
                                    <button type="button" onclick="window.location='/Account/RivalHistory'" class="btn btn-primary btn-large book-now pull-right groupbtn">Hủy bỏ</button>
                                    <button type="button" onclick="window.location='/Account/CancelRival/@Model.Id'" class="btn btn-primary btn-large book-now pull-right groupbtn">Hủy cáp kèo</button>
                                    <button type="submit" class="btn btn-primary btn-large book-now pull-right groupbtn">Lưu</button>    
                                }
                                else
                                {
                                    <button type="button" onclick="window.location='/Account/RivalHistory'" class="btn btn-primary btn-large book-now pull-right groupbtn">Quay lại</button>
                                    <button type="submit" class="btn btn-primary btn-large book-now pull-right groupbtn">Chủ kèo không đến</button>
                                }
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.each($("select"), function (index, obj) {
            $(obj).val($(obj).data("cur"));
        });
    });
</script>
